@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/bootstrap-rtl/less/bootstrap-rtl.less";
@import url("http://fonts.googleapis.com/earlyaccess/alefhebrew.css");
@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@icon-font-path: "../fonts/glyphicons/";


/* Color scheme */
@background: #F3F3F3;

@approved: #33cd56; // #00AF6A;
@spent: #F94641;
@decreased: #9F7E27;
@increased: #5731E7;
@link: #00A1F6;
@text: #3C4948;

@gray: #cccccc;
@darkgray: #888888;
@lightgray: #D4D4D4;
@ultralightgray: #f8f8f8;

@selection: #3399ff;


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    //padding-top: 20px;
    padding-bottom: 20px;
    background: @background;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Alef Hebrew","Helvetica Neue",Helvetica,Arial,sans-serif;
}

header{
  .navbar{
    background: #fff;
  }
}

.single-page-article {
    display: none;
}

.form-control{
  color: @text;
  text-align: right;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */

strong.increased {
  color: @increased;
}

strong.decreased {
  color: @decreased;
}

strong.approved {
  color: @approved;
}

/* Popover */
.popover {
    max-width: 500px;

    .popover-content, .popover-title {
        text-align: right;
        direction:rtl;
    }
}

.widget-popover {
    .popover;
}

.widget-popover {
    position: static;
    top: auto;
    left: auto;
    display: inherit;
    text-align:right;
    direction:rtl;

    .date {
        margin-top: -35px;
        text-align: center;
        position: absolute;
        width: 100%;
        color: @darkgray;
    }
    h2 {
        margin: 0;
        padding-bottom: 0.1em;
    }
    &.trans-increased .widget-popover-title{ background-color: @increased }
    &.trans-decreased .widget-popover-title{ background-color: @decreased }
    .widget-popover-title {
        color: @background;
        text-align: center;
        background: none;
        padding: 8px 0;
        p {
            margin-bottom: 0em;
        }
    }
    .widget-popover-content .trans-description {
        display: none;
        color: @gray;
        span.increased { color: @increased}
        span.decreased { color: @decreased}
    }

    &.bottom,&.bottom{
      .arrow:after {
        margin-right: -10px; //RTL fix
      }
    }
}

/* Tooltip for visualzations */
/*.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}*/

/* Creates a small triangle extender for the tooltip */
/*.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}*/

/* Style northward tooltips differently */
/*.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}*/


/////// HEADER ///////////

header {

  .navbar-left{
    margin-left: -10px;
    a.btn{
      margin: 8px 10px;
      padding: 6px 10px;
      //color: #fff;
      border-radius: 20px;
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }


}

#search-form{
  // position: relative;
  margin: 0 auto;
  max-width: 600px;
  input{
    border-radius: 0 20px 20px 0;
  }
  button{
    border-radius: 20px 0 0 20px;
    .glyphicon {
      top: 3px;
    }
  }
}
/////// ARTICLE ///////////

article {

  &.six-fig{
    //margin-left: 72px;
  }

  background: #FFFFFF;
  //.box-shadow(-4px 2px 5px 0px rgba(0,0,0,0.10));
  margin: 20px;

  header {

    position: relative;

    h1 {
      margin: 0 0 0 15px;
      font-size: 24px;
      padding: 15px;
      font-weight: bold;
    }

    .nav {
      font-size: 18px;
      border-bottom: 0;

      >li>a {
        padding: 17px 15px 15px;

        &.active{

        }
        &:hover{
          border-color: rgba(0,0,0,0);
        }
      }
    }
    #issue-num {
      position: absolute;
      left: 0px;
      top: 4px;
      direction: ltr;
      font-size: 36px;

      a {
        padding: 5px 0;
        //margin-right: -12px;
        //background: @lightgray;
        //.box-shadow(-4px 0px 5px 0px rgba(0,0,0,0.10));

        &.active, &.home {
          background: none;
        }

        &.home {.box-shadow(none);}
      }
    }
  }

  &.increased header {
    background: lighten(@increased, 40%);

    h1, .nav>li>a.active, .nav>li>a:hover, div>a {
      color: @increased;
    }
    .nav>li>a {
      color: lighten(@increased, 25%);
      &:hover{
        background: none;
      }
      &.active {
        background: lighten(@increased, 35%);
        border-radius: 0;
        border: 0;
      }
    }
  }
  &.decreased header {
    background: lighten(@increased, 40%);
  }

  ol.breadcrumb {
    .dropdown{
      &:hover{
        .dropdown-menu{
          display: block;
        }
      }
    }
  }

  .brief {
    padding: 40px;
    font-size: 24px;
  }

  h2 {
    margin: 0 0 10px;
    font-size: 18px;
    padding: 0 13px 5px;
    border-bottom: 1px solid @link;
    color: @link;
    display: inline-block;
  }
}



/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

// VISUALIZTION ///////////////////////////////

svg rect{
  shape-rendering:crispEdges;
}

@keyframes  dash-up {
  to {stroke-dashoffset: 5;}
}
@keyframes  dash-down {
  to {stroke-dashoffset: -5;}
}
@-webkit-keyframes  dash-up {
  to {stroke-dashoffset: 5;}
}
@-webkit-keyframes  dash-down {
  to {stroke-dashoffset: -5;}
}
@-moz-keyframes  dash-up {
  to {stroke-dashoffset: 5;}
}
@-moz-keyframes  dash-down {
  to {stroke-dashoffset: -5;}
}
@-o-keyframes  dash-up {
  to {stroke-dashoffset: 5;}
}
@-o-keyframes  dash-down {
  to {stroke-dashoffset: -5;}
}

/* In depth, zoomable Widget */
#indepth-widget {
  width: 100%;
  height: 440px;

  #backgroundPattern {
    stroke: @lightgray;
  }

  .chart {
    .background {
      fill: @ultralightgray !important;
    }
    .graduationLabel {
        font-size: 11px;
        font-weight: 700;
        fill: @darkgray;
    }
    .graduationLine {
        &.major {
          stroke: @gray;
        }
        &.minor {
          stroke: @lightgray;
        }
    }
    .graphPartApproved {
        text {
        fill: @approved;
        }
        .approvedBar {
          stroke: @approved;
        }
        .approvedLine {
          stroke: @approved;
          stroke-dasharray: 1,4;
        &.increase {
            stroke: @increased;
        }
        &.reduce {
            stroke: @decreased;
        }
      }
  }

  .graphPartChanged {

      stroke: @approved;

      .changeLine {
        stroke-dasharray: 1,4;
        &.increase {
            stroke: @increased;
            -webkit-animation: dash-up 0.5s linear infinite;
            -moz-animation: dash-up 0.5s linear infinite;
            -0-animation: dash-up 0.5s linear infinite;
            animation: dash-up 0.5s linear infinite;
        }
        &.reduce {
            stroke: @decreased;
            -webkit-animation: dash-down 0.5s linear infinite;
            -moz-animation: dash-down 0.5s linear infinite;
            -o-animation: dash-down 0.5s linear infinite;
            -webkit-animation: dash-down 0.5s linear infinite;
        }
      }

      .changeBar {
        stroke-width: 2;
        &.increase {
            stroke: @increased;
            stroke-dasharray: 3,1;
        }
        &.reduce {
            stroke: @decreased;
            stroke-dasharray: 3,1;
        }
      }
  }

     .changeBar-last {
        stroke-width: 0;
        fill: fadeout(@approved, 92%);
        &.increase {
            stroke: @increased;
            stroke-dasharray: 3,1;
            fill: fadeout(@increased, 92%);
        }
        &.reduce {
            stroke: @decreased;
            stroke-dasharray: 3,1;
            fill: fadeout(@decreased, 92%);
        }
  }

      .changeBar-last-line {
             stroke-width: 1;
             stroke: @approved;
             stroke-opacity: 0.5;
             &.increase {
                 stroke: @increased;
             }
             &.reduce {
                 stroke: @decreased;
             }
      }

.graphPartUsed {
      line { stroke: @spent;}
      text { fill: @spent;}
  }
    }
}

/* Overview Widget */
#overview-widget {
    width: 100%;
    height: 60px;

    .changeBar line {
      stroke: @gray;
      &.increase {stroke: @increased;stroke-dasharray: 1;}
      &.reduce {stroke: @decreased;stroke-dasharray: 1;}
    }

    .approvedBar {
      rect {fill: @ultralightgray;}
      line {stroke: @approved;}
      rect.upper {fill-color: lighten(@ultralightgray, 2%);}
    }

  .yearNumberText {
    font-size: 11px;
    font-weight: 700;
    fill: @darkgray;
  }

  #upperApprovedRect {
    stroke: @lightgray;
  }

  #lowerApprovedRect {
    stroke: @approved;
  }

  .selectionBar {
    .selectionLine {
    stroke: @selection;
  }

  .selectionShade {
      fill: @selection;
      opacity: 0.3;
  }

  .selectionHandle {
      fill: @selection;
  }
    }

}

#indepth-widget {
  .approvedBar {
    //stroke-dasharray: 2px, 4px !important;
    stroke-width: 2px;
    stroke: fadeout(@approved, 70%) !important;
  }
}

// Breath in/out for pending transactions

@keyframes pending {
  0% {
    stroke-opacity: 1;
  }
  50% {
    stroke-opacity: 0.5;
  }
  100% {
    stroke-opacity: 1;
  }
}
@-webkit-keyframes pending {
  0% {
    stroke-opacity: 1;
  }
  50% {
    stroke-opacity: 0.5;
  }
  100% {
    stroke-opacity: 1;
  }
}
@-moz-keyframes pending {
  0% {
    stroke-opacity: 1;
  }
  50% {
    stroke-opacity: 0.5;
  }
  100% {
    stroke-opacity: 1;
  }
}
@-o-keyframes pending {
  0% {
    stroke-opacity: 1;
  }
  50% {
    stroke-opacity: 0.5;
  }
  100% {
    stroke-opacity: 1;
  }
}

.pending {
  animation:         pending 1s infinite; /* IE 10+ */
  -webkit-animation: pending 1s infinite; /* Safari 4+ */
  -moz-animation:    pending 1s infinite; /* Fx 5+ */
  -o-animation:      pending 1s infinite; /* Opera 12+ */
}

// TABLE ///////////////////////////////

#change-list {
  padding: 10px;

  >div{
    position: relative;
  }
  .trans,
  .yearly {
    border-bottom: 1px solid @approved;
    height: 86px;

    &.inc {border-bottom-color: @increased;}
    &.dec {border-bottom-color: @decreased;}

    > div {
      font-size: 12px;

      &.transfer-list-dates{
        padding-top: 30px;
        text-align: center;
        line-height: 12px;
        // font-weight: 700;
        span:first-child{
          display: block;
          font-weight: 700;
        }
      }

      &.transfer-list-nums{
        padding-top: 16px;
        line-height: 1.8em;
        span{
          display: block;
          line-height: 1.5em;

          &.transfer-list-amount-transferred,
          &.transfer-list-diff-approved {
            //font-weight: 700;
            margin-right: -10px;
            line-height: 1em;
            &.increased{
              color: @increased
            }

            &.decreased{
              color: @decreased
            }
            .transparent{
              color: transparent;
            }
          }
        }
        h4 {
          font-size: 26px;
          margin: 0;
        }
      }

      &.transfer-list-docs {
        >div {
          background: #F8F7F0 url(assets/gov_symbol-fax.png) no-repeat 10px 10px;
          border: 1px solid #C7C7CC;
          border-bottom: 0;
          margin-top: 10px;
          height: 75px;
          overflow: hidden;
          transition: padding 0.3s, margin 0.3s, height 0.3s;

          div.transfer-list-explanation-label{
            font-size: 12;
            color: #9B9B9B;
            margin: 7px 0 3px;
            text-align: center;
          }

          h4{
            margin: 14px 10px 0;
            font-size: 15px;
            color: #131973;
            font-weight: 700;
          }

          div.transfer-list-explanation-text{
            display: none;
            padding: 0 10px 30px;
          }
        }

        &:hover{
          z-index: 1000;
          position: relative;
          overflow: visible;
          >div {
            overflow: scroll;
            margin: -150px -10px 0;
            height: 235px;
            padding: 0 10px;
            transition: padding 0.7s, margin 0.7s, height 0.7s;
            box-shadow: 0 -5px 10px rgba(0,0,0,0.1);
            div.transfer-list-explanation-text{
              display: block;
            }
          }
        }
      }

      &.transfer-list-more{
        a {
          height: 26px;
          width: 26px;
          display: block;
          overflow: hidden;
          text-indent: -100000px;
          background: url(assets/drill-arrow.png) 45% center no-repeat;
          margin: 32px auto 0;
          border: 1px solid @lightgray;
          border-radius: 26px;
        }
      }


    } // >div

  } //.trans, .yearly

  .yearly {
    > div.transfer-list-dates{
      color: @approved;
      padding-top: 40px;
    }
    > div.transfer-list-nums {
      padding-top: 20px;
    }
    h4 {
      color: @approved;
    }
    > div.transfer-list-docs{
      > div{
        background: #0087C0;
        h4 {
          background: #F8F8F8 url(assets/gov_symbol.png) center 5px no-repeat;
          padding: 42px 0 8px;
          color: #0087C0;
          text-align: center;
          margin: 0 0 10px;
        }

        &:hover {
          padding: 0;
        }
      }
    }
  }

} //.change-list

// table.history-table {
// 	width: 100%;
// 	font-size: 15px;
// 	border-collapse: collapse;
// 	border-spacing: 0;
// 	th {
// 		font-weight: 700;
// 		color: @text;
// 		padding: 10px 0;
// 	}
// 	tr{
// 		color: @darkgray;
// 		vertical-align: top;
// 		&.active {
// 		    border-bottom: 1px solid @lightgray;
// 		    line-height: 20px;
// 		}
// 		&.table-year-folded {
// 			height: 45px;
// 			.table-trans {
// 				width: auto;
// 			}
// 		}
// 		td {
// 	    padding: 0;
// 	    div {
// 				padding: 10px 0 0;
// 				overflow: hidden;
// 				transition: padding 1s, height 1s;
// 	    }
// 		}
//
// 		.table-date {
// 			width: 10%;
// 		}
// 		.table-trans {
// 			width: 23%;
// 			.table-change{
// 				font-size: 24px;
// 				display: block;
// 			}
// 		}
// 		.table-from {
// 			width: 45%;
// 			.table-from-num{
// 				display: block;
// 			}
// 			.table-from-name{
// 				font-weight: 700;
// 				margin-bottom: 10px;
// 				display: block;
// 				&:last-child {
// 					margin-bottom: 0;
// 				}
// 			}
// 		}
// 		.table-more {
// 			a {
// 				display: block;
// 			}
// 		}
// 		&.table-increased {
// 			.table-change {color: @increased;}
// 			.table-from {color: @decreased;}
// 		}
// 		&.table-decreased {
// 			.table-change {color: @decreased;}
// 			.table-from {color: @increased;}
// 		}
// 		&.table-yearly-budget {
// 			.table-date, .table-total, .table-from {color: @approved;}
// 			.table-total { font-size: 24px; }
// 			border-bottom-color: @approved;
// 			background: url(assets/diagonal-green.png);
// 		}
// 		&.table-year-folded {
// 			font-weight: 700;
// 			.table-date { font-size: 24px; }
// 			span { opacity: 0.5;}
// 			.table-year-incresed {
// 			    color: @increased;
// 			    &:before {
// 				content: "\2b06";
// 			    }
// 			}
// 			.table-year-decresed {
// 			    color: @decreased;
// 			    &:before {
// 				content: "\2b07";
// 			    }
// 			}
// 			&:hover {
// 				.table-date { color: @link }
// 				color: @text;
// 				cursor: pointer;
// 				span { opacity: 1;}
// 			}
// 		}
// 		&.table-single-transfer, &.table-yearly-budget {
// 		    td > div {
// 			padding: 0;
// 		    }
// 		}
// 	}
// }

/* Typeahead Styles */
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.twitter-typeahead .tt-hint
{
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius:4px;
    width: 100%;
}

.twitter-typeahead .hint-small
{
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
    line-height: 1.5;
}

.twitter-typeahead .hint-large
{
  height: 45px;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;
  line-height: 1.33;
  width:100%;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

/* Single Changegroup */

#change-group-article {
  width: 100%;
  &.increased {background-color: @increased;}
  &.decreased {background-color: @decreased;}
  padding: 30px 0;

  #changegroup-status{

    &.approved {
      text-align: center;
    }
    &.alert {
      margin-bottom: 20px;
      padding: 5px;
      span {
        top: 3px;
      }
    }
  }

  #single-changegroup{
    max-width: 600px;
    background-color: white;
    padding: 30px 20px;
    h1 {
      font-size: 24px;
      font-weight: 700;
      border-bottom: none;
      &.increased{
        color: @increased;
      }
      &.decreased{
        color: @decreased;
      }
    }

    #changegroup-request{
      background: #f8f7f0 url(assets/gov_symbol-fax.png) no-repeat 10px 10px;
      border: 1px solid #C7C7CC;
      margin: 0 -30px;
      color: #131973;

      h4, h3, p{
        margin: auto 30px;
      }

      h4 {
        text-align: center;
        color: @darkgray;
        font-size: 15px;
        margin: 50px auto 15px;
      }

      &:after{
        content: "";
        background-image: url('assets/paper-edge.png');
        display: block;
        margin-top: 30px;
        border-top: 0;
        height: 52px;
      }
    }
  }
}

/* My stuff */

.item-title {
  display: inline;
  font-weight: bold;
  font-size: 110%;
}

.item-code {
  display: inline;
  font-size: 80%;
  padding-left: 10px;
}

.twitter-typeahead {
    width: 100%;
    direction: rtl;
}

/// Subscribe widget
#subscribeWidget {
    &.notsubscribed::before {
        content: 'הרשמה לעדכונים';
    }
    &.subscribed::before {
        content: 'הסרת הרשמה לעדכונים';
    }
    &.loggedout::before {
        content: 'כניסה והרשמה לעדכונים';
    }
}
