@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/bootstrap-rtl/less/bootstrap-rtl.less";
@import "../bower_components/pivottable/dist/pivot.min.css";
@import "../bower_components/bootstrap-tour/build/css/bootstrap-tour.css";
@import "../bower_components/bootstrap-select/less/bootstrap-select.less";
//@import url("http://fonts.googleapis.com/earlyaccess/alefhebrew.css");
@import "assets/fonts/alefhebrew.css";
@import "assets/fonts/glyphicons.css";
@import "spinner.less";
@import "exemptions.less";
//@import "url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@icon-font-path: "../bower_components/bootstrap-rtl/assets/fonts/";

/* Color scheme */
@background: #ffffff;

@approved: #33cd56; // #00AF6A;
@spent: #9813FD;
@increased: #fb4007; // #5731E7;
@decreased: #0266DE; // #228dd8;
@increased_d: #c20a04; // #5731E7;
@decreased_d: #03329c; // #228dd8;
@increased_c: #fb4007; // #5731E7;
@decreased_c: #0266DE; // #228dd8;
@decreased_b: #32A4F9; //lighten(desaturate(@decreased, 20%), 15%);
@increased_b: #f59019; //lighten(desaturate(@increased, 20%), 15%);
@decreased_a: #6DD1DA; //lighten(desaturate(@decreased, 30%), 20%);
@increased_a: #fcc524; //lighten(desaturate(@increased, 30%), 20%);
@unchanged: #cccccc;
@link: #0098e2;
@text: #3C4948;

@gray: #cccccc;
@darkgray: #888888;
@lightgray: #D4D4D4;
@ultralightgray: #f8f8f8;

@selection: #3399ff;

@tooltip_bg: rgba(255, 255, 255, 0.9);

.approved_svg {
  stroke: darken(@approved, 10%);
  fill: @approved;
}

.increased_d_svg {
  stroke: darken(@increased_d, 10%);
  fill: @increased_d;
}

.increased_c_svg {
  stroke: darken(@increased_c, 10%);
  fill: @increased_c;
}

.increased_b_svg {
  stroke: darken(@increased_b, 10%);
  fill: @increased_b;
}

.increased_a_svg {
  stroke: darken(@increased_a, 10%);
  fill: @increased_a;
}

.decreased_d_svg {
  stroke: darken(@decreased_d, 10%);
  fill: @decreased_d;
}

.decreased_c_svg {
  stroke: darken(@decreased_c, 10%);
  fill: @decreased_c;
}

.decreased_b_svg {
  stroke: darken(@decreased_b, 10%);
  fill: @decreased_b;
}

.decreased_a_svg {
  stroke: darken(@decreased_a, 10%);
  fill: @decreased_a;
}

.unchanged_svg {
  stroke: darken(@gray, 8%);
  fill: @gray;
}

.approved_bg {
  background-color: @approved;
  fill: @approved;
}

.increased_d_bg {
  background-color: @increased_d;
  fill: @increased_d;
}

.increased_c_bg {
  background-color: @increased_c;
  fill: @increased_c;
}

.increased_b_bg {
  background-color: @increased_b;
  fill: @increased_b;
}

.increased_a_bg {
  background-color: @increased_a;
  fill: @increased_a;
}

.decreased_d_bg {
  background-color: @decreased_d;
  fill: @decreased_d;
}

.decreased_c_bg {
  background-color: @decreased_c;
  fill: @decreased_c;
}

.decreased_b_bg {
  background-color: @decreased_b;
  fill: @decreased_b;
}

.decreased_a_bg {
  background-color: @decreased_a;
  fill: @decreased_a;
}

.unchanged_bg {
  background-color: @gray;
  fill: @gray;
}

.approved_text {
  color: @approved;
}

.increased_d_text {
  color: @increased_d;
}

.increased_c_text {
  color: @increased_c;
}

.increased_b_text {
  color: @increased_b;
}

.increased_a_text {
  color: darken(@increased_a, 10%);
}

.decreased_a_text {
  color: darken(@decreased_a, 10%);
}

.decreased_b_text {
  color: @decreased_b;
}

.decreased_c_text {
  color: @decreased_c;
}

.decreased_d_text {
  color: @decreased_d;
}

.unchanged_text {
  color: @darkgray;
}

.approved_border {
  border-color: @approved;
}

.increased_d_border {
  border-color: @increased_d;
}

.increased_c_border {
  border-color: @increased_c;
}

.increased_b_border {
  border-color: @increased_b;
}

.increased_a_border {
  border-color: @increased_a;
}

.decreased_d_border {
  border-color: @decreased_d;
}

.decreased_a_border {
  border-color: @decreased_a;
}

.decreased_b_border {
  border-color: @decreased_b;
}

.decreased_c_border {
  border-color: @decreased_c;
}

.unchanged_border {
  border-color: @gray;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  //padding-top: 20px;
  padding-bottom: 20px;

  &.kind-cutbacks {
    background-color: fadeout(@decreased, 50%);
  }
  &.kind-enlargement {
    background-color: fadeout(@increased, 50%);
  }
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Alef Hebrew", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  .navbar {
    //background: @background;
    border-radius: 0;
    border: 0;
  }

  #header-tree {
    padding: 0;
    list-style: none;
    li {
      color: @darkgray;
      margin-bottom: 2px;
      .issue-part {
        border-top: 3px solid;
        margin: 0 85px;
      }
      .issue-num {
        text-align: left;
        width: 85px;
        padding: 5px 5px 5px 10px;

      }
      h3 {
        font-size: 1em;
        margin: 0;
        padding: 7px 0;
      }
      .item-budget {
        text-align: left;
        direction: ltr;
        padding: 5px;
        margin-left: 85px;
      }
      .btn-default {
        margin-top: 6px;
      }
      .issue-partition {
        clear: both;
        background: @background;
        height: 8px;
        margin: 0 85px;
      }
      &.current {
        margin: 0 5px 0 10px;

        &.increased_a header {
          background-color: lighten(@increased_a, 40%);
          .increased_a_text;
          a {
            .increased_a_text;
          }
        }
        &.increased_b header {
          background-color: lighten(@increased_b, 40%);
          .increased_b_text;
          a {
            .increased_b_text;
          }
        }
        &.increased_c header {
          background-color: lighten(@increased_c, 40%);
          .increased_c_text;
          a {
            .increased_c_text;
          }
        }
        &.increased_d header {
          background-color: lighten(@increased_d, 50%);
          .increased_d_text;
          a {
            .increased_d_text;
          }
        }
        &.decreased_a header {
          background-color: lighten(@decreased_a, 30%);
          .decreased_a_text;
          a {
            .decreased_a_text;
          }
        }
        &.decreased_b header {
          background-color: lighten(@decreased_b, 35%);
          .decreased_b_text;
          a {
            .decreased_b_text;
          }
        }
        &.decreased_c header {
          background-color: lighten(@decreased_c, 45%);
          .decreased_c_text;
          a {
            .decreased_c_text;
          }
        }
        &.decreased_d header {
          background-color: lighten(@decreased_d, 55%);
          .decreased_d_text;
          a {
            .decreased_d_text;
          }
        }
        &.unchanged header {
          background-color: lighten(@unchanged, 10%);
          .unchanged_text;
          a {
            .unchanged_text;
          }
        }
        //
        // background: lighten(@increased, 40%);
        // color: @increased;
        // a {
        //   color: @increased;
        // }
        // // .nav>li>a {
        // //   color: lighten(@increased, 25%);
        // //   &:hover{
        // //     background: none;
        // //   }
        // //   &.active {
        // //     background: lighten(@increased, 35%);
        // //     border-radius: 0;
        // //     border: 0;
        // //   }
        // }
        // }

        header {
          height: 50px;
        }
        .issue-part {
          margin: 0;
        }
        .issue-num {
          margin-top: 10px;
          width: 80px;
          a {
            display: none
          }
        }
        .issue-partition {
          margin: 0 80px;
        }
        h1 {
          margin: 0;
          padding: 7px 0;
          font-size: 30px;
        }
        .item-budget {
          //font-size: 24px;
          margin-top: 9px;
          margin-left: 75px;
        }
        .affix {
          top: 0px;
          width: 100%;
        }

      }
    }
  }

}

.single-page-article {
  display: none;
}

.form-control {
  color: @text;
  text-align: right;
  padding: 6px 0 6px 12px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: @screen-xs-max) {
  .container {
    padding: 0
  }
}

/* Make the masthead heading the same height as the navigation */

strong.increased {
  color: @increased;
}

strong.decreased {
  color: @decreased;
}

strong.approved {
  color: @approved;
}

/* Popover */
.popover {
  max-width: 500px;

  .popover-content, .popover-title {
    text-align: right;
    direction: rtl;
  }
}

.widget-popover {
  .popover;
}

/////////////////////////////////////
// ANIMATIONS
/////////////////////////////////////

.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
}

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}

/////////////////////////// End Animations

.d3-tip {
  margin-top: -45px;

  &.search-bar-tip {
    margin-top: 0px;
    transform: translate(0, -50%);
  }

  .date {
    // margin-top: -35px;
    text-align: left;
    color: @darkgray;
    padding-left: 50%;
    direction: ltr;
    margin-left: -5px;
    &:before {
      content: "● "
    }
  }

  .widget-popover {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #eee;
    background-color: rgba(255, 255, 255, 0.85);
    position: static;
    top: auto;
    left: auto;
    display: inherit;
    text-align: right;
    direction: rtl;
    padding: 0 10px;
    h2 {
      margin: 0;
      padding-bottom: 0.1em;
    }
    .widget-popover-title {
      //text-align: center;
      background: none;
      padding: 8px 0 0;
      p {
        margin-bottom: 0em;
      }
    }
    .widget-popover-content {
      color: @darkgray;
      padding-bottom: 8px;
    }

    .widget-popover-content .trans-description {
      display: none;
      color: @gray;
      span.increased {
        color: @increased
      }
      span.decreased {
        color: @decreased
      }
    }

    &.bottom {
      margin-top: 0;
      .arrow:after {
        margin-right: -10px; //RTL fix
      }
    }
  }
  [class*="trans-increased"] {
    .widget-popover {
      //border-bottom-color: @increased;
    }
    .widget-popover-title p,
    .date:before {
      color: @increased
    }
  }
  [class*="trans-decreased"] {
    .widget-popover {
      //border-bottom-color: @decreased;
    }
    .widget-popover-title p,
    .date:before {
      color: @decreased
    }
  }
}

.bubble-chart-tip {
  .fadeOutUp;
  .animated;

  &.active {
    .fadeInDown;
    .animated;
  }
}

.search-bar-tip {
  .fadeOut;
  .animated;

  &.active {
    .fadeIn;
    .animated;
  }
}

.color-legend-box {
  width: 8px;
  height: 20px;
}

/////// HEADER ///////////

.spinner > div {
  &.rect1 {
    .increased_c_bg
  }
  &.rect2 {
    .increased_b_bg
  }
  &.rect3 {
    background-color: @lightgray
  }
  &.rect4 {
    .decreased_b_bg
  }
  &.rect5 {
    .decreased_c_bg
  }
}

.site-nav {
  width: 100%;
  right: 0;
  top: 0;
  z-index: 1000000;

  .navbar {
    margin-bottom: 0;
  }

  .navbar-brand {
    color: @text;
    background: url(assets/obudget_key.png) no-repeat;
    background-size: 23px 52px;
    //text-indent: -999999999px;
    overflow: hidden;
    height: 53px;
    width: 141px;
  }

  .navbar-nav > li > a {
    color: #555;
  }

  .navbar-left {
    margin-left: -10px;
    a.btn {
      margin: 8px 10px;
      padding: 6px 10px;
      //color: #fff;
      border-radius: 20px;
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

}

//////// MAIN PAGE //////////////
#comparison-kind {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  color: @darkgray;
  border: 1px solid @gray;
  border-radius: 5px;

  &:hover, &:active {
    color: @text;
    //border-color: @text;
  }
}

#comparison-toggle {
  width: 100%;
  max-width: 500px;
  min-height: 90px;
  margin: 10px auto;
  background: url(assets/hp-slash.png) no-repeat center center;
  background-size: 58px 118px;
  > div {
    max-width: 50%;
    padding: 15px 8% 15px 2%;
    float: right;
    color: @gray;

    &:first-child {
      text-align: left;
      padding: 15px 2% 15px 8%;
    }

    &:hover, &:hover .active {
      color: @darkgray;
      cursor: pointer;
    }
    &.active, &.active .active {
      color: @text;
    }

    span {
      color: @gray;
      &:hover {
        color: @darkgray;
        cursor: pointer;
      }
      &.active {
        color: @text;
      }
    }
  }
}

#main-budget-header {
  clear: both;
  padding: 0 20px;
  h1, p {
    text-align: center;
    font-size: 30px;
    line-height: 43px;
    margin-bottom: 0;

    .approved {
      .approved_text;
      font-weight: 700;
    }
  }
}

#grouping-kind {
  max-width: 640px;
  text-align: center;
  margin-top: 20px;

  > div {
    position: relative;

    &:before {
      content: "";
      background: #cccccc;
      margin: 20px 17% -18px;
      height: 2px;
      display: block;
    }
  }

  .btn {
    width: 21%;
    padding: 6px 2%;
    border: 0;
    text-align: center;
    font-size: 14px;
    color: @gray;
    position: relative;

    &:before {
      content: "";
      display: block;
      background: white;
      border: 2px solid @gray;
      height: 20px;
      width: 20px;
      border-radius: 20px;
      margin: 0 auto 15px;
    }

    &:after {
      content: "";
      display: block;
      height: 10px;
      width: 10px;
      border-radius: 20px;
      position: absolute;
      right: 50%;
      margin-right: -5px;
      top: 11px;
    }

    &:hover:after {
      background: @gray;
    }

    &:active, &.active {
      box-shadow: none;
      color: @text;
      //margin-top: -5px;

      &:before {
        border-color: @text;
        //height: 30px;
        //width: 30px;
        //margin-bottom: 10px;
      }

      &:after {
        background: @text;
        //height: 20px;
        //width: 20px;
        //margin-right: -10px;
        //top: 11px;
      }
    }
  }
}

#bubble-chart {
  width: 100%;
  margin: 0 auto;
  display: block;

  .bubblesCircle,
  .child-bubble {
    //opacity: 0.5;
    cursor: pointer;
    stroke-width: 1;
  }
}

//////// TOOL-TIPS //////////////////

.arrow {
  position: relative;
  &:after, &:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-color: transparent;
    border-width: 5px;
  }
  &:before {
    border-color: transparent;
    border-width: 8px;
  }

  &.arrow-bottom {
    &:after, &:before {
      top: 100%;
      left: 50%;
    }
    &:after {
      border-top-color: @tooltip_bg;
      margin-left: -5px;
    }
    &:before {
      border-top-color: white;
      margin-left: -8px;
    }
  }

  &.arrow-left {
    &:after, &:before {
      right: 100%;
      top: 50%;
    }

    &:after {
      border-right-color: #fff;
      margin-top: -5px;
    }
    &:before {
      border-right-color: white;
      margin-top: -8px;
    }
  }
}

.d3-tip {
  opacity: 1;

  .widget-popover {
    background: @tooltip_bg;
    border: 2px solid @darkgray;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    position: relative;

    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);

    h2 {
      color: @text;
      padding: 10px;
      font-size: 20px;
      font-weight: 700;
      margin: 0 -10px;
    }

    .widget-popover-title {
      span {
        color: @darkgray;
        font-size: 12px;
        margin-top: -7px;
        display: block;
      }
    }

    .widget-popover-content {

      .widget-popover-sums {
        font-size: 16px;
        font-weight: 700;
        color: @text;

        .percentage {
          color: @darkgray;
        }
      }

      .description {
        font-size: 14px;
        color: @text;
      }

      .history {
        border-top: 1px dashed @darkgray;
        color: @darkgray;
        font-size: 12px;
        font-weight: 700;
        margin: 0 -10px -7px;
        display: block;
        min-height: 1.4em;

        &.increased_a {
          .increased_a_border;
          .increased_a_text;
        }
        &.increased_b {
          .increased_b_border;
          .increased_b_text;
        }
        &.increased_c {
          .increased_c_border;
          .increased_c_text;
        }
        &.increased_d {
          .increased_d_border;
          .increased_d_text;
        }
        &.decreased_a {
          .decreased_a_border;
          .decreased_a_text;
        }
        &.decreased_b {
          .decreased_b_border;
          .decreased_b_text;
        }
        &.decreased_c {
          .decreased_c_border;
          .decreased_c_text;
        }
        &.decreased_d {
          .decreased_d_border;
          .decreased_d_text;
        }
        &.unchanged {
          .unchanged_border;
          .unchanged_text;
        }
      }
    }

    //transfer tooltips:
    &#trans-tip {
      background-image: url(assets/square-tile.png);
      background-position: 0 3px;
      background-size: 20px;
      text-align: right;
      .revised-diff,
      .approved-sum,
      .approved {
        margin-top: -9px;
        padding: 1px 10px 2px;
        position: relative;
        &.approved-sum {
          padding: 5px 10px 6px;
          color: #fff;
          &::after {
            top: 8px;
          }
        }
        &.approved {
          padding: 5px 10px 6px;
        }
        &:after {
          background: rgba(0, 0, 0, 0.15);
          border-radius: 10px;
          display: inline-block;
          position: absolute;
          top: 5px;
          left: 6px;
          font-weight: 300;
          font-size: 12px;
          padding: 2px 6px;
          color: #fff;
        }
        &[class*='increased']:after {
          content: "תוספת";
        }
        &[class*='decreased']:after {
          content: "קיצוץ";
        }
        &.approved-sum:after {
          background: darken(@approved, 5%);
          content: "ספר התקציב";
        }
        &.approved:after {
          background: none;
          box-shadow: 0 0 0 1px @approved;
          content: "ספר התקציב";
        }
      }
      .widget-popover-title div {
        font-size: 12px;
      }
      .revised {
        padding: 5px 10px 6px;
        line-height: 20px;
        color: #fff;
      }
      .tooltip-note {
        padding-top: 2px;
        margin-bottom: -10px;
        font-size: 12px;
        color: @text;
      }
      &.tooltip-changeline {
        .tooltip-note {
          margin-bottom: -5px;
        }
      }
      &.tooltip-approved {
        h2 {
          background-color: @approved;
        }
        p {
          color: @approved;
          margin-bottom: -6px;
        }
        .approved_border;
        &::before {
          border-top-color: @approved
        }
      }
      &.tooltip-used {
        .widget-popover-title {
          .approved {
            margin-top: -12px;
            .approved_text;
            &::after {
              .approved_text;
              top: 8px;
            }
          }
          .revised-diff {
            margin-top: -5px;
          }
          .tooltip-note {
            margin: -3px 0 3px;
          }
        }
        .widget-popover-content {
          padding: 0 10px 15px;
          margin: 0 -10px;
          background: white;
          border-radius: 0 0 3px 3px;
          border-top: 1px dashed;
          h2, p {
            color: @spent;
          }
          h2 {
            padding: 3px 10px 0;
            margin-bottom: -5px;
          }
        }
      }
    }

    &.arrow-bottom:before {
      border-top-color: @darkgray;
    }
    &.arrow-left:before {
      border-right-color: @darkgray;
    }
  }

  &.bubble-chart-tip .widget-popover,
  &.search-bar-tip .widget-popover {
    .item-title,
    .revised-diff,
    .approved-sum {
      background: @darkgray;
      color: white;
    }
  }

  .increased_a {
    &.widget-popover, .widget-popover, .widget-popover-content {
      .increased_a_border !important
    }
    .item-title, #trans-tip, .revised, &.revised-diff:after,
    &.tooltip-used {
      .increased_a_bg     !important
    }
    .widget-popover-title span, .percentage, &.revised-diff {
      .increased_a_text   !important
    }
    .widget-popover.arrow-bottom:before {
      border-top-color: @increased_a
    }
    &.widget-popover.arrow-bottom:before {
      border-top-color: @increased_a
    }
    .widget-popover.arrow-left:before {
      border-right-color: @increased_a
    }
  }
  .increased_b {
    &.widget-popover, .widget-popover, .widget-popover-content {
      .increased_b_border !important
    }
    .item-title, #trans-tip, .revised, &.revised-diff:after,
    &.tooltip-used {
      .increased_b_bg     !important
    }
    .widget-popover-title span, .percentage, &.revised-diff {
      .increased_b_text   !important
    }
    .widget-popover.arrow-bottom:before {
      border-top-color: @increased_b
    }
    &.widget-popover.arrow-bottom:before {
      border-top-color: @increased_b
    }
    .widget-popover.arrow-left:before {
      border-right-color: @increased_b
    }
  }
  .increased_c {
    &.widget-popover, .widget-popover, .widget-popover-content {
      .increased_c_border !important
    }
    .item-title, #trans-tip, .revised, &.revised-diff:after,
    &.tooltip-used {
      .increased_c_bg     !important
    }
    .widget-popover-title span, .percentage, &.revised-diff {
      .increased_c_text   !important
    }
    .widget-popover.arrow-bottom:before {
      border-top-color: @increased_c
    }
    &.widget-popover.arrow-bottom:before {
      border-top-color: @increased_c
    }
    .widget-popover.arrow-left:before {
      border-right-color: @increased_c
    }
  }
  .increased_d {
    &.widget-popover, .widget-popover, .widget-popover-content {
      .increased_d_border !important
    }
    .item-title, #trans-tip, .revised, &.revised-diff:after,
    &.tooltip-used {
      .increased_d_bg     !important
    }
    .widget-popover-title span, .percentage, &.revised-diff {
      .increased_d_text   !important
    }
    .widget-popover.arrow-bottom:before {
      border-top-color: @increased_d
    }
    &.widget-popover.arrow-bottom:before {
      border-top-color: @increased_d
    }
    .widget-popover.arrow-left:before {
      border-right-color: @increased_d
    }
  }
  .decreased_a {
    &.widget-popover, .widget-popover, .widget-popover-content {
      .decreased_a_border !important
    }
    .item-title, #trans-tip, .revised, &.revised-diff:after,
    &.tooltip-used {
      .decreased_a_bg     !important
    }
    .widget-popover-title span, .percentage, &.revised-diff {
      .decreased_a_text   !important
    }
    .widget-popover.arrow-bottom:before {
      border-top-color: @decreased_a
    }
    &.widget-popover.arrow-bottom:before {
      border-top-color: @decreased_a
    }
    .widget-popover.arrow-left:before {
      border-right-color: @decreased_a
    }
  }
  .decreased_b {
    &.widget-popover, .widget-popover, .widget-popover-content {
      .decreased_b_border !important
    }
    .item-title, #trans-tip, .revised, &.revised-diff:after,
    &.tooltip-used {
      .decreased_b_bg     !important
    }
    .widget-popover-title span, .percentage, &.revised-diff {
      .decreased_b_text   !important
    }
    .widget-popover.arrow-bottom:before {
      border-top-color: @decreased_b
    }
    &.widget-popover.arrow-bottom:before {
      border-top-color: @decreased_b
    }
    .widget-popover.arrow-left:before {
      border-right-color: @decreased_b
    }
  }
  .decreased_c {
    &.widget-popover, .widget-popover, .widget-popover-content {
      .decreased_c_border !important
    }
    .item-title, #trans-tip, .revised, &.revised-diff:after,
    &.tooltip-used {
      .decreased_c_bg     !important
    }
    .widget-popover-title span, .percentage, &.revised-diff {
      .decreased_c_text   !important
    }
    .widget-popover.arrow-bottom:before {
      border-top-color: @decreased_c
    }
    &.widget-popover.arrow-bottom:before {
      border-top-color: @decreased_c
    }
    .widget-popover.arrow-left:before {
      border-right-color: @decreased_c
    }
  }
  .decreased_d {
    &.widget-popover, .widget-popover, .widget-popover-content {
      .decreased_d_border !important
    }
    .item-title, #trans-tip, .revised, &.revised-diff:after,
    &.tooltip-used {
      .decreased_d_bg     !important
    }
    .widget-popover-title span, .percentage, &.revised-diff {
      .decreased_d_text   !important
    }
    .widget-popover.arrow-bottom:before {
      border-top-color: @decreased_d
    }
    &.widget-popover.arrow-bottom:before {
      border-top-color: @decreased_d
    }
    .widget-popover.arrow-left:before {
      border-right-color: @decreased_d
    }
  }
  .approved {
    &.widget-popover, .widget-popover, .widget-popover-content {
      .approved_border    !important
    }
    .item-title, #trans-tip, .revised, &.revised-diff:after,
    &.tooltip-used {
      .approved_bg        !important
    }
    .widget-popover-title span, .percentage, &.revised-diff {
      .approved_text      !important
    }
    .widget-popover.arrow-bottom:before {
      border-top-color: @approved !important
    }
    &.widget-popover.arrow-bottom:before {
      border-top-color: @approved !important
    }
    .widget-popover.arrow-left:before {
      border-right-color: @approved !important
    }
  }

}

//////// SEARCH & TREE //////////////

#search-form {
  position: relative;
  margin-left: 0;
  padding: 10px 15px 10px 10px;
  //max-width: 600px;
  input, .btn-search {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #cccccc;
    background: none;
    box-shadow: none;
    font-size: 20px;
  }
  .btn-search {
    padding: 2px 8px;
    color: #bbb;
    .glyphicon {
      //top: 3px;
    }
  }
  > div {
    margin-left: 75px;
    margin-right: 5px;
  }

  #btn-tree {
    position: absolute;
    top: 7px;
    left: 9px;
    width: 70px;
    height: 38px;
    text-indent: -99999px;
    overflow: hidden;
    display: block;
    padding: 0;
  }
}

#search-dropdown {

  visibility: hidden;

  > .row {
    margin: 0;
  }

  &.active {
    border-bottom: 2px solid #ddd;
    .search-partition-layout {
      min-height: 400px;
    }
    .search-results {
      display: inherit;
      padding: 0 5px 0 0;
    }
    visibility: visible;
  }

  .search-results {
    display: none;
    max-height: 400px;
    overflow: scroll;
  }

  .search-partition-layout {
    display: none;
    padding: 0;
    min-height: 0px;
    transition: min-height 0.5s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: min-height 0.5s;
    font-size: 11px;

    svg {
      margin-right: 5px;

      .treemap {
        g:hover {

          rect {
            //opacity: 0.8;
            stroke-width: 2;
          }

          text {
            font-weight: bold;
            fill: white;
          }
        }

        rect {
          stroke: @background;
          stroke-width: 0.5;

          &.parent {
            cursor: pointer;
          }
        }

        text {
          pointer-events: none;

          &.small-title {
            opacity: 0;
          }
        }
      }

      .expandor, .upbacker {

        &.increased_a circle {
          fill: @increased_a
        }
        &.increased_b circle {
          fill: @increased_b
        }
        &.increased_c circle {
          fill: @increased_c
        }
        &.increased_d circle {
          fill: @increased_d
        }
        &.decreased_a circle {
          fill: @decreased_a
        }
        &.decreased_b circle {
          fill: @decreased_b
        }
        &.decreased_c circle {
          fill: @decreased_c
        }
        &.decreased_d circle {
          fill: @decreased_d
        }
        &.unchanged circle {
          fill: @unchanged
        }
      }
    }
  }

  .search-dropdown-item {
    //margin-right: 16px;
    line-height: 2.5em;
    max-height: 2.8em;
    overflow: hidden;

    border-bottom: 1px solid #ddd;
    &.selected {
      background: white;
      font-weight: bold;
    }
    &:hover {
      //background: white;
      color: darken(@text, 40%);
      cursor: pointer;
      font-weight: bold;
    }

    .item-title {
      display: inline-block;
      //font-weight: bold;
      font-size: 110%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 100%;
    }

    .item-code {
      display: inline;
      font-size: 80%;
      padding-left: 10px;
      float: left;
    }
  }

}

/////// ARTICLE ///////////

article {

  &.six-fig {
    //margin-left: 72px;
  }

  background: #FFFFFF;
  //.box-shadow(-4px 2px 5px 0px rgba(0,0,0,0.10));
  margin: 10px 0;

  header {

    position: relative;
    top: 0;
    &.affix {
      top: 50px;
      height: 40px;
      z-index: 900000;
      width: 100%;
      right: 0;
      h1 {
        padding: 10px;
        font-size: 18px;
      }
      .nav > li > a {
        padding: 10px 15px 9px;
        font-size: 15px;
      }
      #issue-num {
        font-size: 20px;
      }
      transition: top 0.3s;
    }

    h1 {
      margin: 0 0 0 15px;
      font-size: 24px;
      padding: 15px;
      font-weight: bold;
    }

    .nav {
      font-size: 18px;
      border-bottom: 0;

      > li > a {
        padding: 17px 15px 15px;

        &.active {

        }
        &:hover {
          border-color: rgba(0, 0, 0, 0);
        }
      }
    }
    #issue-num {
      position: absolute;
      left: 0px;
      top: 4px;
      direction: ltr;
      font-size: 36px;

      a {
        padding: 5px 0;
        //margin-right: -12px;
        //background: @lightgray;
        //.box-shadow(-4px 0px 5px 0px rgba(0,0,0,0.10));

        &.active, &.home {
          background: none;
        }

        &.home {
          .box-shadow(none);
        }
      }
    }
  }

  ol.breadcrumb {
    .dropdown {
      &:hover {
        .dropdown-menu {
          display: block;
        }
      }
    }
  }

  .brief {
    color: @text;
    padding: 10px 80px 10px 20px;
    margin: 0;
    font-size: 20px;
    clear: both;
    p {

      margin: 0;
    }
  }

  h2 {
    margin: 0 0 20px;
    font-size: 18px;
    padding: 0 13px 5px;
    border-bottom: 1px solid @link;
    color: @link;
    display: inline-block;
    text-align: center;
  }
}

/* Custom page footer */
.footer {
  //padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  //padding-top: 25px;
  //color: #777;
  float: right;
  width: 100%;
  -webkit-box-shadow: inset 0 13px 15px -15px rgba(0, 0, 0, .74);
  -moz-box-shadow: inset 0 13px 15px -15px rgba(0, 0, 0, .74);
  box-shadow: inset 0 13px 15px -15px rgba(0, 0, 0, .74);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;

  > ul {
    padding: 0;
    padding-bottom: 90px;
    width: 100%;
    margin: auto;
    display: inline-block;
    text-align: center;
    float: right !important;
  }

  li {
    display: inline-block;

    &:first-child {
      display: block;
    }

    &:before {
      display: none;
    }

    a {
      text-decoration: none;
      display: inline-block;
      margin-right: 13px;
      margin-left: 13px;
      min-height: 50px;
      padding-top: 8px;
      color: #3F414B !important;
      border-top: solid 1px #CACACA;

      &.hasadna {
        //padding-right: 55px;
        background: url(assets/hasadna.png) no-repeat center top / 50px;
        text-align: center;
        display: inline-block;
        padding-top: 50px;
        border: 0;
        color: #0098E2;
        padding-bottom: 28px;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    > ul {
      padding-bottom: 0;
      display: inline-block;
      position: relative;
      width: 100%;
    }

    li {
      display: block;
      text-align: center;
      border-bottom: solid 1px #CACACA;

      a {
        border-top: 0;
        padding-top: 16px;

        &.hasadna {
          padding: 52px 0 22px;
          margin-top: 23px;
        }
      }
    }
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

// VISUALIZTION ///////////////////////////////
#vis {
  text-align: center;
}

svg rect {
  shape-rendering: crispEdges;
}

@keyframes dash-pong {
  to {
    stroke-dashoffset: 20;
  }
}

@-webkit-keyframes dash-pong {
  0%, 100% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 10;
  }
}

@keyframes dash-up {
  to {
    stroke-dashoffset: 5;
  }
}

@keyframes dash-down {
  to {
    stroke-dashoffset: -5;
  }
}

@-webkit-keyframes dash-up {
  to {
    stroke-dashoffset: 5;
  }
}

@-webkit-keyframes dash-down {
  to {
    stroke-dashoffset: -5;
  }
}

@-moz-keyframes dash-up {
  to {
    stroke-dashoffset: 5;
  }
}

@-moz-keyframes dash-down {
  to {
    stroke-dashoffset: -5;
  }
}

@-o-keyframes dash-up {
  to {
    stroke-dashoffset: 5;
  }
}

@-o-keyframes dash-down {
  to {
    stroke-dashoffset: -5;
  }
}

/* In depth, zoomable Widget */
#indepth-widget {
  width: 100%;
  height: 440px;

  #backgroundPattern {
    stroke: @lightgray;
  }

  .chart {
    .background {
      fill: @ultralightgray !important;
    }
    .graduationLabel {
      font-size: 11px;
      font-weight: 700;
      fill: lighten(@darkgray, 20%);
    }
    .graduationLine {
      &.major {
        stroke: lighten(@lightgray, 4%);
      }
      &.minor {
        stroke: lighten(@lightgray, 8%);
      }
    }
    .graphPartYearStart {
      text {
        fill: @approved;
      }
      .yearstartLine {
        stroke: @approved;
        stroke-dasharray: 1, 4;
      }
    }
    .graphPartApproved {
      text {
        fill: @approved;
      }
      .approvedBar {
        stroke: @approved;
      }
      .approvedLine {
        stroke: @approved;
        stroke-dasharray: 1, 4;
        &.increased_a {
          .increased_a_svg
        }
        &.increased_b {
          .increased_b_svg
        }
        &.increased_c {
          .increased_c_svg
        }
        &.increased_d {
          .increased_d_svg
        }
        &.decreased_a {
          .decreased_a_svg
        }
        &.decreased_b {
          .decreased_b_svg
        }
        &.decreased_c {
          .decreased_c_svg
        }
        &.decreased_d {
          .decreased_d_svg
        }
      }
    }
    .graphPartRevised {
      .revisedBar {
        &.increased_a {
          .increased_a_svg
        }
        &.increased_b {
          .increased_b_svg
        }
        &.increased_c {
          .increased_c_svg
        }
        &.increased_d {
          .increased_d_svg
        }
        &.decreased_a {
          .decreased_a_svg
        }
        &.decreased_b {
          .decreased_b_svg
        }
        &.decreased_c {
          .decreased_c_svg
        }
        &.decreased_d {
          .decreased_d_svg
        }
      }
    }

    .tipFocus {
      display: none;
      &.increased_a {
        .increased_a_svg
      }
      &.increased_b {
        .increased_b_svg
      }
      &.increased_c {
        .increased_c_svg
      }
      &.increased_d {
        .increased_d_svg
      }
      &.decreased_a {
        .decreased_a_svg
      }
      &.decreased_b {
        .decreased_b_svg
      }
      &.decreased_c {
        .decreased_c_svg
      }
      &.decreased_d {
        .decreased_d_svg
      }
    }

    .graphPartChanged {

      stroke: @approved;

      .changeLine {
        stroke-dasharray: 1, 4;
        &.increased_a,
        &.increased_b,
        &.increased_c,
        &.increased_d {
          -webkit-animation: dash-up 0.5s linear infinite;
          -moz-animation: dash-up 0.5s linear infinite;
          -o-animation: dash-up 0.5s linear infinite;
          animation: dash-up 0.5s linear infinite;
        }
        &.decreased_a,
        &.decreased_b,
        &.decreased_c,
        &.decreased_d {
          -webkit-animation: dash-down 0.5s linear infinite;
          -moz-animation: dash-down 0.5s linear infinite;
          -o-animation: dash-down 0.5s linear infinite;
          -webkit-animation: dash-down 0.5s linear infinite;
        }
        &.increased_a {
          .increased_a_svg
        }
        &.increased_b {
          .increased_b_svg
        }
        &.increased_c {
          .increased_c_svg
        }
        &.increased_d {
          .increased_d_svg
        }
        &.decreased_a {
          .decreased_a_svg
        }
        &.decreased_b {
          .decreased_b_svg
        }
        &.decreased_c {
          .decreased_c_svg
        }
        &.decreased_d {
          .decreased_d_svg
        }
      }

      .changeLineWaterfall {
        &.increased_a {
          .increased_a_svg
        }
        &.increased_b {
          .increased_b_svg
        }
        &.increased_c {
          .increased_c_svg
        }
        &.increased_d {
          .increased_d_svg
        }
        &.decreased_a {
          .decreased_a_svg
        }
        &.decreased_b {
          .decreased_b_svg
        }
        &.decreased_c {
          .decreased_c_svg
        }
        &.decreased_d {
          .decreased_d_svg
        }
      }

      .changeBar {
        stroke-width: 1;
        &.increased_a {
          .increased_a_svg
        }
        &.increased_b {
          .increased_b_svg
        }
        &.increased_c {
          .increased_c_svg
        }
        &.increased_d {
          .increased_d_svg
        }
        &.decreased_a {
          .decreased_a_svg
        }
        &.decreased_b {
          .decreased_b_svg
        }
        &.decreased_c {
          .decreased_c_svg
        }
        &.decreased_d {
          .decreased_d_svg
        }
      }
    }

    .simpleRevisedLine {
      line {
        stroke-width: 1;
        .unchanged_svg;
      }
      &.increased_a line {
        .increased_a_svg
      }
      &.increased_b line {
        .increased_b_svg
      }
      &.increased_c line {
        .increased_c_svg
      }
      &.increased_d line {
        .increased_d_svg
      }
      &.decreased_a line {
        .decreased_a_svg
      }
      &.decreased_b line {
        .decreased_b_svg
      }
      &.decreased_c line {
        .decreased_c_svg
      }
      &.decreased_d line {
        .decreased_d_svg
      }

      &.increased_a circle {
        fill: @increased_a;
      }
      &.increased_b circle {
        fill: @increased_b;
      }
      &.increased_c circle {
        fill: @increased_c;
      }
      &.increased_d circle {
        fill: @increased_d;
      }
      &.decreased_a circle {
        fill: @decreased_a;
      }
      &.decreased_b circle {
        fill: @decreased_b;
      }
      &.decreased_c circle {
        fill: @decreased_c;
      }
      &.decreased_d circle {
        fill: @decreased_d;
      }
    }

    .simpleApprovedLine {
      line {
        stroke-width: 1;
        stroke: @approved;
      }
      circle {
        fill: @approved;
        stroke: @approved;
      }
    }
    .simpleUsedLine {
      line {
        stroke-width: 1;
        stroke: @spent;
      }
      circle {
        fill: @spent;
        stroke: @spent;
      }
    }

    .changeBar-last {
      stroke-width: 0;
      stroke-dasharray: 3, 1;
      fill: fadeout(@approved, 92%);

      &.increased_a {
        stroke: @increased_a;
        fill: fadeout(@increased_a, 92%);
      }
      &.increased_b {
        stroke: @increased_b;
        fill: fadeout(@increased_b, 92%);
      }
      &.increased_c {
        stroke: @increased_c;
        fill: fadeout(@increased_c, 92%);
      }
      &.increased_d {
        stroke: @increased_d;
        fill: fadeout(@increased_d, 92%);
      }
      &.decreased_a {
        stroke: @decreased_a;
        fill: fadeout(@decreased_a, 92%);
      }
      &.decreased_b {
        stroke: @decreased_b;
        fill: fadeout(@decreased_b, 92%);
      }
      &.decreased_c {
        stroke: @decreased_c;
        fill: fadeout(@decreased_c, 92%);
      }
      &.decreased_d {
        stroke: @decreased_d;
        fill: fadeout(@decreased_d, 92%);
      }
    }

    .changeBar-last-line {
      stroke-width: 1;
      stroke: @approved;
      stroke-dasharray: 3, 1;
      //stroke-opacity: 0.5;
      &.increased_a {
        .increased_a_svg
      }
      &.increased_b {
        .increased_b_svg
      }
      &.increased_c {
        .increased_c_svg
      }
      &.increased_d {
        .increased_d_svg
      }
      &.decreased_a {
        .decreased_a_svg
      }
      &.decreased_b {
        .decreased_b_svg
      }
      &.decreased_c {
        .decreased_c_svg
      }
      &.decreased_d {
        .decreased_d_svg
      }
    }

  }
  .graphPartUsed {
    circle, path, line {
      stroke: @spent;
    }
    text {
      fill: @spent;
    }
  }
}

#indepth-guideline-date {
  position: absolute;
  margin-top: -5px;
  margin-left: 5px;
}

.participant-photo-normal {
  position: absolute;
  left: 0px;
  width: 32px;
  height: 32px;
  border: 2px solid #eee;
  border-radius: 16px;
  margin: 0;
}

.participant-photo-empahsized {
  width: 48px;
  height: 48px;
  margin: -8px;
  border-radius: 24px;
  border-color: @text;
}

.participantThumbnail {
  position: absolute;
  height: 32px;
  margin-left: -16px;
  margin-top: 24px;
  width: 100%;
}

.participant-name {
  font-size: 12px;
  position: relative;
  float: right;
  right: 100%;
  top: 7px;
  text-align: right;
  padding: 0;
  height: 18px;
  width: 0;
  overflow: hidden;
  // background: transparent;
  border-radius: 16px;
  text-indent: -120px;
  overflow: hidden;
  /* margin-right: -10px; */
}

.participant-name-visible {
  text-indent: 0;
  padding: 0 14px 0 8px;
  background-color: #eee;
  color: @text;
  width: auto;
}

#participantThumbnails {
  overflow: hidden;
  position: relative;
  height: 240px;
  margin-top: -240px;
  .participantThumbnail {
    .participantThumbnail;
    .participant-hide-photo {
      .participant-photo {
        display: none;
      }
    }
    .participant-photo {
      .participant-photo-normal;
      transition: width 0.5s, height 0.5s, margin 0.5s, border-radius 0.5s, border-color 0.5s;
    }
    .participant-name {
      transition: text-indent 0.5s, background-color 0.5s, color 0.5s, width 0.5s;
    }
    .participant-term-bar {
      position: absolute;
      background-color: @gray;
      width: 100%;
      height: 2px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    .participant-end-term-bar {
      position: absolute;
      background-color: @gray;
      width: 2px;
      height: 16px;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &:hover {
      z-index: 1000;
      width: 150px;
      .participant-photo {
        .participant-photo-empahsized;
      }
      .participant-name {
        .participant-name-visible;
      }
    }
  }
}

.guide-line-photo {
  .participantThumbnail;
  margin-left: -16px;
  .participant-name {
    margin-right: -10px;
    .participant-name-visible;
  }
  .participant-photo {
    .participant-photo-normal;
  }
}

.timelineTerm {
  .termBreadth {
    stroke-width: 2px;
    stroke: #eee;
  }
}

.timelineTitle {
  color: @text;
  font-size: 12px;
  line-height: 1em;
  background: #eee;
  border-radius: 16px;
}

#approvedTooltips {
  overflow: hidden;
  position: relative;
  height: 300px;
  margin-top: -240px;

  .approvedTip {
    position: absolute;
    width: 150px;
    padding-top: 70px;
    border-left: 1px solid;
  }

  .participant-row {
    display: table;
    width: 100%;
    text-align: left;

    .participant-photo {
      width: 15%;
      text-align: left;
      display: table-cell;
    }
    .participant-info {
      display: table-cell;
    }
  }
}

/* Overview Widget */
#overview-widget {
  width: 100%;
  height: 60px;

  .changeBar line {
    stroke: @gray;
    &.increase {
      stroke: @increased
    }
    &.reduce {
      stroke: @decreased
    }
  }

  .approvedBar, .approvedBarBg {
    rect {
      fill: @ultralightgray;
    }
    line {
      stroke: @approved;
    }
    rect.upper {
      fill-color: lighten(@ultralightgray, 2%);
    }
  }

  .yearNumberText {
    font-size: 11px;
    font-weight: 700;
    fill: @darkgray;
  }

  #upperApprovedRect {
    stroke: @lightgray;
  }

  #lowerApprovedRect {
    stroke: @approved;
  }

  .selectionBar {
    .selectionLine {
      stroke: @selection;
    }

    .selectionShade {
      fill: @selection;
      opacity: 0.3;
    }

    .selectionHandle {
      fill: @selection;
    }
  }

}

#indepth-widget {
  .approvedBar {
    stroke-dasharray: 3px, 1px;
    stroke-width: 1px;
    //stroke: fadeout(@approved, 70%) !important;
    //stroke: fadeout(@approved, 70%) !important;
  }
}

// Breath in/out for pending transactions

@keyframes pending {
  0% {
    stroke-opacity: 1;
  }
  50% {
    stroke-opacity: 0.2;
  }
  100% {
    stroke-opacity: 1;
  }
}

@-webkit-keyframes pending {
  0% {
    stroke-opacity: 1;
  }
  50% {
    stroke-opacity: 0.5;
  }
  100% {
    stroke-opacity: 1;
  }
}

@-moz-keyframes pending {
  0% {
    stroke-opacity: 1;
  }
  50% {
    stroke-opacity: 0.5;
  }
  100% {
    stroke-opacity: 1;
  }
}

@-o-keyframes pending {
  0% {
    stroke-opacity: 1;
  }
  50% {
    stroke-opacity: 0.5;
  }
  100% {
    stroke-opacity: 1;
  }
}

.pending {
  .animation(pending 0.5s infinite); /* IE 10+ */

  &.changeBar {
    stroke-dasharray: 5 2;
    .animation(dash-pong 1s infinite ease-in-out);
  }
}

// CHANGE LIST ///////////////////////////////

#change-list {
  padding: 10px;
  text-align: right;

  > div {
    position: relative;
  }
  .trans,
  .yearly {
    border-bottom: 1px solid @approved;
    @media (min-width: @screen-md-min) {
      height: 86px;
    }

    &.inc {
      border-bottom-color: @increased;
    }
    &.dec {
      border-bottom-color: @decreased;
    }

    > .row {
      > div {
        font-size: 12px;

        &.transfer-list-dates {
          padding-top: 30px;
          text-align: center;
          line-height: 12px;
          // font-weight: 700;
          span:first-child {
            display: block;
            font-weight: 700;
          }
        }

        &.transfer-list-nums {
          padding-top: 16px;
          padding-bottom: 10px;
          line-height: 1.8em;
          span {
            display: block;
            line-height: 1.5em;

            &.transfer-list-amount-transferred,
            &.transfer-list-diff-approved {
              //font-weight: 700;
              text-indent: -10px;
              line-height: 1em;
              &.increased {
                color: @increased
              }

              &.decreased {
                color: @decreased
              }
              .transparent {
                color: transparent;
              }
            }
          }
          h4 {
            font-size: 26px;
            margin: 0;
            @media (max-width: @screen-xs-max) {
              font-size: 20px;
            }
          }
        }

        &.transfer-list-docs {
          @media (max-width: @screen-xs-max) {
            display: none;
          }
          > div {
            background: #F8F7F0 url(assets/gov_symbol-fax.png) no-repeat 10px 10px;
            border: 1px solid #C7C7CC;
            border-bottom: 0;
            margin-top: 10px;
            height: 75px;
            overflow: hidden;
            transition: padding 0.3s, margin 0.3s, height 0.3s;

            div.transfer-list-explanation-label {
              font-size: 12px;
              color: #9B9B9B;
              margin: 7px 0 3px;
              text-align: center;
            }

            h4 {
              margin: 14px 10px 0;
              font-size: 15px;
              color: #131973;
              font-weight: 700;
            }

            div.transfer-list-explanation-text {
              display: none;
              padding: 0 10px 30px;
            }
          }

          &:hover {
            z-index: 1000;
            position: relative;
            overflow: visible;
            > div {
              overflow: scroll;
              margin: -150px -10px 0;
              height: 235px;
              padding: 0 10px;
              transition: padding 0.7s, margin 0.7s, height 0.7s;
              box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
              div.transfer-list-explanation-text {
                display: block;
              }
            }
          }
        }

        &.transfer-list-more {
          a {
            height: 26px;
            width: 26px;
            display: block;
            overflow: hidden;
            text-indent: -100000px;
            background: url(assets/drill-arrow.png) 45% center no-repeat;
            margin: 32px auto 0;
            border: 1px solid @lightgray;
            border-radius: 26px;
          }
        }

        &.transfer-list-bar {
          height: 0px;
          bottom: 0;
          right: 0;
          position: absolute;
          border-style: solid;
          border-width: 2px;
          &.increased {
            border-color: @increased
          }
          &.decreased {
            border-color: @decreased
          }
          &.pending {
            border-style: dashed
          }
        }

      }
      // >div

    }
    // .row

  }
  //.trans, .yearly

  .yearly {
    .row {
      > div.transfer-list-dates {
        color: @approved;
        padding-top: 40px;
      }
      > div.transfer-list-nums {
        padding-top: 20px;
      }
      h4 {
        color: @approved;
      }
      > div.transfer-list-docs {
        > div {
          background: #0087C0;
          h4 {
            background: #F8F8F8 url(assets/gov_symbol.png) center 5px no-repeat;
            padding: 42px 0 8px;
            color: #0087C0;
            text-align: center;
            margin: 0 0 10px;
          }

          &:hover {
            padding: 0;
          }
        }
      }

      > div.transfer-list-bar {
        border-color: @approved;
      }
    }
  }

}

//.change-list

//// SUPPORT TABLE //////////////////

#support-table {
  text-align: right;

  thead {
    //font-weight: 700;
  }

  .support-recipient {
    font-weight: 700
  }
}

/* Single Changegroup */

#change-group-article {
  width: 100%;
  background-color: inherit;
  padding: 30px 0;
  margin: 0;

  #changegroup-status {

    &.approved {
      text-align: center;
    }
    &.alert {
      margin-bottom: 20px;
      padding: 5px;
      span {
        top: 3px;
      }
    }
  }

  #single-changegroup {
    max-width: 600px;
    background-color: white;
    padding: 30px 20px;
    h1 {
      font-size: 24px;
      font-weight: 700;
      border-bottom: none;
      &.increased {
        color: @increased;
      }
      &.decreased {
        color: @decreased;
      }
    }

    #changegroup-request {
      background: #f8f7f0 url(assets/gov_symbol-fax.png) no-repeat 10px 10px;
      border: 1px solid #C7C7CC;
      margin: 0 -30px;
      color: #131973;

      h4, h3, p {
        margin: auto 30px;
      }

      h4 {
        text-align: center;
        color: @darkgray;
        font-size: 15px;
        margin: 50px auto 15px;
      }

      &:after {
        content: "";
        background-image: url('assets/paper-edge.png');
        display: block;
        margin-top: 30px;
        border-top: 0;
        height: 52px;
      }
    }
  }
}

/* FOOTER */
//.footer {
//  li {
//    display: inline-block;
//    a {
//      display: inline-block;
//      margin-right: 20px;
//      margin-left: 20px;
//    }
//    &:before {
//      content: "\00B7"
//    }
//  }
//  li:first-child {
//    &:before {
//      content: ""
//    }
//  }
//}

/* Subscribe widget */
#subscribeWidget {
  &.notsubscribed::before {
    content: 'הרשמה לעדכונים';
  }
  &.subscribed::before {
    content: 'הסרת הרשמה לעדכונים';
  }
  &.loggedout::before {
    content: 'כניסה והרשמה לעדכונים';
  }
}

#subscribeModal {
  z-index: 999999;
  .modal-dialog {
    margin: 60px auto 0;
  }
}

.social-button-container {
  margin: 8px 10px;
  padding: 6px 10px;
  border-radius: 20px;
}

.tour-backdrop {
  opacity: 0.4 !important;
}

.popover, .modal {
  border: 1px solid white;
  min-width: 200px;

  box-shadow: 0px 5px 100px 10px rgba(0, 0, 0, 0.4);

  button.close {
    position: absolute;
    padding: 0px 5px;
    left: 0;
    top: 0;
    z-index: 10000;
  }

  .popover-title, .modal-header {
    border-bottom: 1px solid transparent;
    background: @ultralightgray;
    text-align: center;
  }

  .btn {
    border: 0;
    background: @ultralightgray;

    &:active {
      -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.125);
      box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.125);
    }
  }
}

// Override bootstrap-tour End button position for rtl.
.popover[class*="tour-"] {

  div.popover-navigation {
    padding: 0;

    .btn {
      display: block;
      width: 50%;
    }
  }

  .popover-content {
    padding: 14px;
    position: relative;
  }

  .popover-navigation.popover-navigation-rtl {
    *[data-role="end"] {
      position: absolute;
      left: 10px;
    }
  }

  &:before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    right: 0;
    border: 1px solid @lightgray;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  &.right .arrow {
    left: -10px;
    border-right-color: @lightgray
  }
  &.left .arrow {
    right: -10px;
    border-left-color: @lightgray
  }
  &.bottom .arrow {
    top: -10px;
    border-bottom-color: @lightgray;
    &:after {
      right: -10px;
    }
  }
  &.top .arrow {
    bottom: -10px;
    border-top-color: @lightgray;
    &:after {
      right: -10px;
    }
  }
}

// Override bootstrap popover text alignment for rtl.
.popover.popover-rtl {
  text-align: right;
}

.popover.popover-rtl[class*="tour-tour-en"] {

  .popover-content, .popover-title, .popover-navigation {
    text-align: center;
    direction: ltr;
  }

  button.close {
    left: auto;
    right: 0;
  }

  .btn-group > .btn {
    float: left;
    color: transparent;

    &:first-child:before {
      content: "« back";
      color: #333;
    }

    &:last-child:before {
      content: "next »";
      color: #333;
    }
  }
}

#tabs-label-container {
  width: 100%;
  overflow: auto;
}

#tabs-content-container {
  width: 100%;
  // overflow: auto;
}

.nav-tabs.nav-justified {
  > li > a {
    font-weight: 700;
    background: @ultralightgray;
    outline: 1px solid @lightgray;
    border-top: 1px solid @lightgray;
    border-bottom: 3px solid @lightgray;
    padding: 12px 15px 8px;
    border-radius: 0;
    color: @darkgray;
    margin-bottom: 0;
    &:hover, &:focus {
      color: @link;
    }
  }

  > li.active > a {
    color: @text;
    outline: 1px;
    border-top: 3px solid @text;
    background: white;
    padding: 10px 15px;
    &:hover, &:focus {
      border-top: 3px solid @text;
    }
  }
}

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

#bubble-chart-container {
  position: relative;
}

.bubble-group-label {
  position: absolute;
  text-align: center;
  pointer-events: none; // in order to allow hover event to fire under the label
}

.bubble-group-label-child {
  position: relative;
  left: -50%;
}

.bubble-group-label-total-sum {
  font-weight: bold;
}

.main-vis-action-buttons {
  font-weight: bold;
  fill: grey;
  font-size: 5em;
  opacity: 0;
}

.main-vis-back-button,
.main-vis-zoom-button {
  background: url(assets/bubble-back.svg) no-repeat;
  text-indent: -99999999px;
  display: block;
  height: 60px;
  width: 60px;
}

.main-vis-zoom-button {
  background: url(assets/bubble-drill.svg);
}

// Team Card
#teamModal {
  .team-card {
    border: 1px solid #888;
    margin: 20px;
    min-height: 200px;
    padding-top: 5px;
    text-align: center;

    .team-name {
      display: block;
      font-size: 1.5em;
    }

    .email, .twitter, .website {
      display: block;
      direction: ltr;
    }

    .email {

    }
    .twitter {

    }
  }
}
