@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/bootstrap-rtl/less/bootstrap-rtl.less";
@import url("http://fonts.googleapis.com/earlyaccess/alefhebrew.css");
@icon-font-path: "../fonts/glyphicons/";


/* Color scheme */
@background: #F3F3F3;

@approved: #00AF6A;
@spent: #F94641;
@decreased: #9F7E27; 
@increased: #5731E7;
@link: #00A1F6;
@text: #3C4948;

@gray: #cccccc;
@darkgray: #888888;
@lightgray: #D4D4D4;

@selection: #3399ff;


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: @background;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Alef Hebrew","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

strong.increased {
	color: @increased;
}

strong.decreased {
	color: @decreased;
}

strong.approved {
	color: @approved;
}


/////// ARTICLE ///////////

article {
	
	&.six-fig{
		margin-left: 72px;
	}

	background: #FFFFFF;
	.box-shadow(-4px 2px 5px 0px rgba(0,0,0,0.10));

	header {

		position: relative;

		h1 {
			margin: 0 0 0 15px;
			font-size: 24px;
			padding: 15px;
			font-weight: bold;
		}

		.nav {
			font-size: 18px;
			border-bottom: 0;
			
			>li>a {
				padding: 17px 15px 15px;

				&.active{
					
				}
				&:hover{
					border-color: rgba(0,0,0,0);
				}
			}
		}
		#issue-num {
			position: absolute;
			left: -92px;
			top: 4px;
			direction: ltr;
			font-size: 36px;

			a {
				padding: 5px 0;
				margin-right: -12px;
				background: @lightgray;
				.box-shadow(-4px 0px 5px 0px rgba(0,0,0,0.10));

				&.active, &.home {
					background: none;
				}

				&.home {.box-shadow(none);}
			}
		}
	}

	&.increased header {
		background: lighten(@increased, 40%);

		h1, .nav>li>a.active, .nav>li>a:hover, div>a {
			color: @increased;
		}
		.nav>li>a {
			color: lighten(@increased, 25%);
			&:hover{
				background: none;
			}
			&.active {
				background: lighten(@increased, 35%);
				border-radius: 0;
				border: 0;
			}
		}
	}
	&.decreased header {
		background: lighten(@increased, 40%);
	}

	section {

	}

	#brief {
		padding: 40px;
		font-size: 24px;
	}

	h2 {
		margin: 0 0 10px;
		font-size: 18px;
		padding: 0 13px 5px;
		border-bottom: 1px solid @link;
		color: @link;
		display: inline-block;
	}
}



/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

// VISUALIZTION ///////////////////////////////

svg rect{
	shape-rendering:crispEdges;
}

/* In depth, zoomable Widget */
#indepth-widget {
    width: 100%;
    height: 440px;

    #backgroundPattern {
	stroke: @lightgray;
    }

    .chart {
	.graduationLabel {
	    font-family: "verdana";
	    font-size: 8;
	    stroke: @darkgray;
	}

	.graduationLine {
	    &.major {
		stroke: @gray;
	    }

	    &.minor {
		stroke: @lightgray;
	    }
	}

	.graphPartApproved {
	    stroke: @approved;

	    .approvedLine {
		stroke-width: 2;
		&.increase {
		    stroke: @increased;
		}
		&.reduce {
		    stroke: @decreased;
		}
	    }
	}

	.graphPartChanged {

	    stroke: @approved;

	    .changeLine {
		&.increase {
		    stroke: @increased;
		}
		&.reduce {
		    stroke: @decreased;
		}
	    }

	    .changeBar {
		stroke-width: 2;
		&.increase {
		    stroke: @increased;
		}
		&.reduce {
		    stroke: @decreased;
		}
	    }
	}

	.graphPartUsed {
	    stroke: @spent;
	}
    }
}

/* Overview Widget */
#overview-widget {
    width: 100%;
    height: 60px;

    .changeBar rect {
	fill: @gray;
    }

    .approvedBar {
	line {
	    stroke: @approved;
	}

	rect.upper {
	    fill-color: @lightgray
	}

	rect.lower {
	    fill-color: @approved
	}

    }

    .yearNumberText {
	font-family: "verdana";
	font-size: 8;
	stroke: @gray;
    }

    #upperApprovedRect {
	stroke: @lightgray;
    }

    #lowerApprovedRect {
	stroke: @approved;
    }

    .selectionBar {
	.selectionLine {
	    stroke: @selection;
	}

	.selectionShade {
	    fill: @selection;
	    opacity: 0.3;
	}

	.selectionHandle {
	    fill: @selection;
	}
    }

}

#indepth-widget {
	.approvedBar {
		stroke-dasharray: 2px, 4px !important;
		stroke-width: 2px;
	}
}

// TABLE ///////////////////////////////

#change-list {
	padding: 10px;
}

table {
	width: 100%;
	font-size: 15px;
	th {
		font-weight: 700;
		color: @text;
		padding: 10px 0;
	}
	tr{
		color: @darkgray;
		border-bottom: 1px solid @lightgray;
		line-height: 20px;
		td {
			padding: 10px 0;
		}
		
		.table-date {
			width: 10%;
		}
		.table-trans {
			width: 30%;
			.table-change{
				font-size: 24px;
				display: block;
			}
		}
		.table-from {
			width: 35%;
			.table-from-num{
				display: block;
			}
			.table-from-name{
				font-weight: 700;
			}
		}
		.table-more {
			.table-finance-story{
				display: block;
			}
		}
		&.table-increased {
			.table-change {color: @increased;}
			.table-from {color: @decreased;}
		}
		&.table-decreased {
			.table-change {color: @decreased;}
			.table-from {color: @increased;}
		}
		&.table-yearly-budget {
			.table-date, .table-total, .table-from {color: @approved;}
			.table-total { font-size: 24px; }
			border-bottom-color: @approved;
			background: url(assets/diagonal-green.png);
		}
		&.table-year-folded {
			font-weight: 700;
			.table-date { font-size: 24px; }
			span { opacity: 0.5;}
			.table-year-incresed { color: @increased;}
			.table-year-decresed { color: @decreased;}
			&:hover {
				.table-date { color: @link }
				color: @text;
				span { opacity: 1;}
			}
		}
	}
}