<div style="direction:rtl;text-align: justify">
    <h4>מה זה האתר הזה?</h4>
    
</p>אנחנו רוצים להיות מסוגלים להשוות בין סעיפי התקציב משנה לשנה - האם התקציב גדל? האם היה קיצוץ? <p>

    <h4>מה הבעיה?</h4>
    
   <p>משנה לשנה משתנים לפעמים מספרי הסעיפים, או שהם מתפצלים לתתי סעיפים, או שהם עוברים למשרד אחר... ועוד צרות מסוג זה.</p>

<b>כדי לעקוב אחר התקציב אנחנו צריכים את עזרתכם!</b>

<br/>

    <h4>מה עושים?</h4>
    
<p>בנינו עבורכם כלי ידידותי שמזהה סעיפים סוררים ומאפשר לכם לחפש את מקורם בתקציב הישן בצורה פשוטה.</p>

<p>כל שעליכם לעשות הוא:</p>
<ul>
	<li>להיכנס ל<a href="#/">עמוד הראשי</a></li>
	<li>לבחור שנת תקציב</li>
	<li>לבחור סוג סעיף (תקנה, תכנית וכו׳)</li>
	<li>לבחור מהרשימה סעיף בודד עבורו נרצה לחפש התאמה</li>
	<li>לחפש את שם הסעיף בתיבת החיפוש (במרבית המקרים נמצא סעיף עם אותו שם אבל מספר אחר, או אותו מספר ושם דומה אך לא זהה)</li>	
	<li>ללחוץ על תוצאת החיפוש שנראית לכם המתאימה ביותר</li>
	<li>אם זה זה - ללחוץ על ״הוספה להתאמה״</li>	
	<li>לוודא שההתאמה מלאה והגיונית (למשל, שהיקפי התקציב נשארו באותו סדר גודל)</li>
	<li>אם מרוצים - ללחוץ על ״שליחת שינויים״</li>	
</ul>

מומלץ מאוד גם לצפות בסרטון הקצר הבא לפרטים נוספים:

TBD

</div>
