{% extends "base.html" %}

{% block content %}

<div id="requestHeader">
  <h3>תאריך ועדה:</h3>
  <h4>{{ request.committeeDate }}</h4>
</div>

<div id="pagesCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {% for page in request.pages %}
    
    <div class="item">
      <div class="img_container">
        <img src="{{ page.image }}" alt="page {{ page.pageId }}">
      </div>    
      <div>
        <div class="transfer_details" data-id="{{ page.pageId }}">          
         <div class="form-group">
          <label for="subRequestNum">בקשה מספר: </label>
          <input type="text" class="form-control inline_input_heb very_short_text" name="subRequestNum">
        </div>
        <div class="transfers_header">
          <h5 class="articleId">מספר פרט</h5>
          <h5 class="articleName">שם הפרט</h5>
          <h5 class="amount">הוצאה</h5>
        </div>
        <ul>
        </ul>
        <a class="glyphicon glyphicon-plus add_row"></a>        
        <div class="btns_container">
          <input type="button" class="btn btn-default page_details_btn" value="נקה הכל" name="btnClear" />
          <input type="button" class="btn btn-default page_details_btn" value="שמור" name="btnSave" />
        </div>
      </div>
    </div>
  </div>      

  {% endfor %} 
</div>

<a class="left carousel-control" href="#pagesCarousel" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="#pagesCarousel" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript">
  var data = "{{ request.pages|safe }}";
</script>

<script type="text/javascript" src="/bower_components/bootstrap/js/transition.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/js/carousel.js"></script>
<script type="text/javascript" src="/scripts/jquery.grow.js"></script>
<script type="text/javascript" src="/scripts/request.js"></script>
{% endblock scripts %}
