<div class="alert warning">
ברוכים הבאים!
<br/>
אתם מוזמנים להתנסות ב<a href="https://next.obudget.org/?ref=old">אתר ״מפתח התקציב״ המחודש והמשודרג</a>, הכולל נתונים עשירים יותר ועדכניים יותר ומערכת חיפוש משוכללת.
</div>

<div id="comparison-toggle">
  <div class="compare-2017">
    <strong>תקציב 2017</strong><br/>
    אחרי העברות תקציביות לעומת התקציב המקורי
  </div>
  <div class="compare-2016">
    <strong>תקציב 2017</strong><br/>
    ביחס לתקציב 2016<br/>
    <span class="compare-year-start">בתחילת השנה</span> / <span class="compare-year-end">אחרי העברות</span>
  </div>
</div>

<div id="main-budget-header" class="center-block">
</div>
<div id="grouping-kind" class="container center-block">
    <div  class="center-block" role="group" data-toggle="buttons" aria-label="...">
        <label data-toggle="0" class="btn active"><input type="radio" name="grouping-kind" autocomplete="off" checked><span>הכל ביחד</span></input></label>
        <label data-toggle="1" class="btn"><input type="radio" name="grouping-kind" autocomplete="off" class="btn btn-default"><span>לפי קבוצות נושא</span></input></label>
        <label data-toggle="2" class="btn"><input type="radio" name="grouping-kind" autocomplete="off" class="btn btn-default"><span>לפי נושאים מפורטים</span></input></label>
        <label data-toggle="3" class="btn"><input type="radio" name="grouping-kind" autocomplete="off" class="btn btn-default"><span>חלוקה לפי סעיפים</span></input></label>
    </div>
</div>
<!-- Bubble chart -->
<div id="bubble-chart-container" class="center-block">
    <svg id="bubble-chart"></svg>
    <svg id="subnode-bubble-chart"></svg>
</div>
