    <tr>
        <td class="request">
            <h4>- [ דברי הסבר ] -</h4>
            <h3>הנדון: {{req_title}}</h3>
            <p>{{explanation|safe}}</p>
            <!--p><a href="#">[ המשך… ]</a></p-->
        </td>
    </tr>
    <tr>
        <td class="item">
            <!--
            <h3>ניתוח הסטורי</h3>
            <p>בשנים האחרונות זוכה משרד הרווחה להעברות תקציביות משמעותיות, רובן סביב חודש דצמבר. עם זאת, באופן עקבי לא מנצל המשרד את מלוא התיקצוב שניתן לו (הוצאה של 82-91% מהתקציב בלבד בשנים 2011-2013).</p>
        -->
            {% if supports %}
            <h3>תמיכות</h3>
            <p>בין הגופים המרכזיים הנתמכים ע״י התכניות בהעברה זו: </p>
            <ul>
                {% for sup in supports%}
                <li><a href="#">{{sup[0]}} ({{sup[1]}})</a></li>
                {% endfor %}
            </ul>
            {% endif %}

            <h3>שינויים תקציביים בהעברה זו:</h3>
            <ul>
            {%for tr in filt_items %}
                <li>{{tr.budget_code }} - {{tr.budget_title}}</li>
            {%endfor%}
            </ul>

            <table class="button">
                <tr>
                    <td>
                        <a href="#">עוד אודות העברה זו</a>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
