<tr class="request-summary">
    <td>
        <table>
            <tr class="request-summary-from">
                <td>מ - הוצאות חירום אזרחיות</td>
                <td>-200%</td>
            </tr>
            <tr class="request-summary-amount">
                <td colspan="2">העברה בסך 9,000,000 ש״ח</td>
            </tr>
            <tr class="request-summary-to">
                <td>אל - כבאות והצלה</td>
                <td>+1000%</td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="request">
        <!--<table style="width:35px;height:43px"><img src="{{baseurl}}img/gov-watermark.png" alt=""/></table>-->
        <p>{{explanation|safe}}</p>
        <!--p><a href="#">[ המשך… ]</a></p-->
    </td>
</tr>
<tr class="button">
    <td>
        <a href="http://the.open-budget.org.il/stg/#transfer/{{group_id}}/{{group[0][0]}}" target="_blank">פרטים נוספים
            אודות הצעה זו ></a>

        <!--<input type="button" src="" value="פרטים נוספים אודות הצעה זו  >"></button>-->
    </td>
</tr>
