
    <button type="button" class="controls-header" data-toggle="collapse" data-target=".exemptions-alerts,.inputs-area">עדכונים</button>


<div class="inputs-area in">

    <div class="container-fluid">

        <div class="row">

            <div class="col-xs-4 col-sm-2">
                <select id="spendings-day-limit" name="spendings-day-limit">
                    <option disabled>מסגרת זמן</option>
                    <option value="1"{{#ifCond ui.controls.timeFrame "==" 1}} selected{{/ifCond}}>יום אחרון</option>
                    <option value="7"{{#ifCond ui.controls.timeFrame "==" 7}} selected{{/ifCond}}>שבוע אחרון</option>
                    <option value="30"{{#ifCond ui.controls.timeFrame "==" 30}} selected{{/ifCond}}>חודש אחרון</option>
                </select>
            </div>

            <div class="col-xs-4 col-sm-2">
                <select class="order-by">
                    <option disabled="">מיין לפי</option>
                    <option value="total_flags">עניין</option>
                    <option value="date">תאריך עדכון</option>
                    <option value="volume">סכום</option>
                </select>
            </div>

            <div class="col-xs-4 col-sm-8">
                <select class="ministry" multiple title='כל המשרדים'>
                    <option disabled>סינון לפי משרד</option>
                  {{#each ui.ministriesList}}
                      <option value="{{this}}">{{this}}</option>
                  {{/each}}
                </select>
            </div>


            <!--<div class="order">-->

            <!--<span>סדר יורד</span>-->
            <!--<input type="radio" name="asc_desc" value="1" checked>-->

            <!--<span>סדר עולה</span>-->
            <!--<input type="radio" name="asc_desc" value="-1">-->

            <!--</div>-->
          {{!-- <input type="text" name="free-text" placeholder="חיפוש טקסט חופשי">
           --}}
        </div>
    </div>
</div>
