<li class="issue-<%= window.issue_depth(main.get('code')) %> <%= {true: 'current'}[last] %>">

  <% if(last) { %>
    <div id="affix-wrapper">
    <header id="affix-header" data-spy="affix" data-offset-top="174">
    <div class="issue-part"></div>
  <% } %>
  <!-- Issue number -->
  <div class="issue-num pull-right">
    <%= main.get('code').slice(2).replace(/(.{2})(?!$)/g , '$1.') %>
  </div>
  <!-- Issue title -->
  <div class="pull-right">
    <%= last ? '<h1>' : '<h3>' %>
      <a class="dropdown-toggle" href="<%= linkToBudget(main.get('code'),main.get('year')) %>">
        <%= main.get('title') %></a>

        <span class="dropdown">
           <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% for ( var _kid in kids.models ) { var kid=kids.models[_kid];  %>
                <li><a href="<%= linkToBudget(kid.get('code'),main.get('year')) %>">#<%= kid.get('code').slice(2) %>  - <%= kid.get('title')%></a></li>
            <% } %>
          </ul>
        </span>

        /
    <%= last ? '</h1>' : '</h3>' %>


  </div>
  <div class="item-budget  pull-left">
    ₪
    <%= window.number_with_commas(main.get('net_revised')*1000) %>
    <%= window.up_or_down_arrow(main.get('net_revised'), main.get('net_allocated')) %>
  </div>
  <% if(last) { %>
    </header>
    </div>
    <section class="brief container">
        <%= JST.spinner() %>
    </section>
  <% } %>
  <div class="issue-partition"></div>
</li>
