{{!-- This file not is use yet. need to refactor more code on main_page_vis to make it work properly--}}
<div class="trans-{{ finalClassName }} arrow arrow-bottom">
  <div class="widget-popover fade in bottom arrow arrow-bottom">
    <div class="widget-popover-title">
        <span>{{ src.code }}</span>
        <h2 class="item-title">{{ srcTitle }}</h2>
    </div>
    <div class="widget-popover-content">
      <div class="widget-popover-sums">
          <span class="approved">
              {{numbro rev format="0 a $" operation="multiply" operationFactor=1000 isCurrency=true}}
          </span>
          <span class="percentage">
              <%=
                orig > 0 ? (Math.abs( rev / orig ) * 100).toFixed(0) + "%" : ""
              %>
          </span>
        </div>
        <p class="description">
        <%= src.get('explanation') == null? "" : src.get('explanation') %>
        </p>
        <span class="history increased">
        <% var styc = src.get('astyc'); %>
        <% if (styc != null ) { %>
            <% if (styc > 0) { %>
              מ-2009 גדל התקציב בממוצע מדי שנה בכ-<%= styc %>%
              <% } %>
              <% if (styc < 0) { %>
              מ-2009 <%= -styc %>% מהתקציב בממוצע מועבר למטרות אחרות
            <% } %>
        <% } %>
        </span>
    </div>
  </div>
</div>
