<div class="trans-<%= className().replace('_svg','') %> arrow arrow-bottom">
  <div class="widget-popover fade in bottom arrow arrow-bottom">
    <div class="widget-popover-title">
        <span><%= src.get("code").slice(2) %></span>
        <h2 class="item-title"><%= src.get("title") %></h2>
    </div>
    <div class="widget-popover-content">
      <div class="widget-popover-sums">
          <span class="approved">
              <%= format_full_number( rev*1000 ) %> ₪
          </span>
          <span class="percentage">
              <%= 
                orig > 0 ? (Math.abs( rev / orig ) * 100).toFixed(0) + "%" : ""
              %>
          </span>
        </div>
        <p class="description">
        <%= src.get('explanation') == null? "" : src.get('explanation') %>
        </p>
        <span class="history increased">
        <% var styc = src.get('astyc'); %>
        <% if (styc != null ) { %>
            <% if (styc > 0) { %>
              מ-2009 גדל התקציב בממוצע מדי שנה בכ-<%= styc %>%
              <% } %>
              <% if (styc < 0) { %>
              מ-2009 <%= -styc %>% מהתקציב בממוצע מועבר למטרות אחרות
            <% } %>
        <% } %>
        </span>
    </div>
  </div>
</div>
