<div class="trans-<%= className().replace('_svg','') %> arrow arrow-bottom">
  <div class="widget-popover fade in bottom arrow arrow-bottom">
    <div class="widget-popover-title">
        <span><%= src.get("code") %></span>
        <h2 class="item-title"><%= src.get("title") %></h2>
    </div>
    <div class="widget-popover-content">
      <div class="widget-popover-sums">
          <span class="approved">
              <%= format_full_number( orig*1000 ) %> ₪
          </span>
          <span class="percentage">
              <%= (Math.abs( 1 - rev / orig ) * 100).toFixed(1) %>%<%= number_plus_minus( rev - orig ) %>
          </span>
        </div>
        <p class="description">
        <%= src.get('explanation') == null? "" : src.get('explanation') %>
        </p>
        <span class="history increased">
        <% var styc = src.get('astyc'); %>
        <% if (styc != null ) { %>
            <% if (styc > 0) { %>
            מ-2009 התקציב בסוף השנה גדל ב-<%= styc %>% לעומת התכנון המקורי
            <% } %>
            <% if (styc < 0) { %>
            מ-2009 <%= -styc %>% מהתקציב מועבר למטרות אחרות
            <% } %>
        <% } %>
        </span>
    </div>
  </div>
</div>
