<div class="bubble-group-label">
  <div class="bubble-group-label-child bubble-group-label-total-sum">
  	{{#if total}}{{format_full_number total}} ₪{{/if}}
  </div>
  <div class="bubble-group-label-child bubble-group-label-title">{{title}}</div>
</div>
