<div class="left-con">

<h2 class='entity-name'><%= name %></h2>
<a href=""><h4 class='manof-name'>
<% if ( kind === "association" ) { %>
    עמותה/חברה לתועלת הציבור מ.ר. <%= id %> (<a target="_blank" href="http://www.guidestar.org.il/organization/<%= id %>">מידע נוסף בגיידסטאר</a>)
<% } else if ( kind === "company" ) { %>
    חברה פרטית מ.ר. <%= id %>
<% } else if ( kind === "municipality" ) { %>
    רשות מקומית
<% } %>
</h4></a>

    <div class="left-info">
        <div class="info">

<% if ( exemptions.length > 0 ) { %>
<h3 class="entity-title">
&larr;&nbsp<%= exemptions.length %> התקשרויות עם <span class="total"></span>
משרדים בסך <%= exemptions_sum == null ? 'לא ידוע' : number_with_commas(exemptions_sum==null? 0 : exemptions_sum) + ' ש"ח'%>
</h3>
<table class="exemption-table table table-expandable">
    <thead>
        <th>שם המשרד</th>
        <th style="width: 4%;">מס'</th>
        <th style="width: 10%;">בסך</th>
        <th style="width: 9%;">התחלה</th>
        <th style="width: 9%;">סיום</th>
        <th style="width: 5%;"></th>
    </thead>
    <tbody>

    </tbody>
</table>
<% } %>

<% if ( supports.length > 0 ) { %>
<h3 class="entity-title">&larr;&nbspתמיכות</h3>
<table class="support-table table table-expandable">
    <thead>
        <th>שנה</th>
        <th>נושא</th>
        <th>תקנה</th>
        <th>אושר</th>
        <th>הועבר</th>
        <th>סוג</th>
        <th>עוד</th>
    </thead>
    <tbody>
        <% for ( var i = 0 ; i < supports.length ; i++ ) { var s = supports[i]; console.log(s);%>
        <tr>
            <td class='support-year'><%= s.year %></td>
            <td class='support-subject'><%= s.subject %></td>
            <td class='support-code'><a href="<%= window.URLSchemeHandlerInstance.linkToBudget(s.code, s.year) %>"><%= s.code.slice(2) %> - <%= s.title %></a></td>
            <td class='support-amount-allocated'><%= number_with_commas(s.amount_allocated) %></td>
            <td class='support-amount_supported'><%= number_with_commas(s.amount_supported) %></td>
            <td class='support-kind'><%= s.kind %></td>
            <td class='support-more'>
                <span class='support-num_used'>
                    <% if (s.kind=='תמיכה בפרט' || s.num_used > 1) { %>
                        <%= s.num_used %> נתמכים
                    <% } %>
                </span>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>
            <div
        </div>
    </div>
<% } %>
