<h2 class='entity-name'><%= name %></h2>
<h4>
<% if ( kind === "association" ) { %>
    עמותה/חברה לתועלת הציבור מ.ר. <%= id %> (<a target="_blank" href="http://www.guidestar.org.il/organization/<%= id %>">מידע נוסף בגיידסטאר</a>)
<% } else if ( kind === "company" ) { %>
    חברה פרטית מ.ר. <%= id %>
<% } else if ( kind === "municipality" ) { %>
    רשות מקומית
<% } %>
</h4>



<% if ( exemptions.length > 0 ) { %>}
<h3><%= exemptions.length %> התקשרויות עם <%= Object.keys(exemptions_by_publisher).length %> משרדים בסך <%= number_with_commas(exemptions_sum==null? 0 : exemptions_sum) %> ש"ח</h3>
<table id="exemption-table" class="table table-expandable">
    <thead>
        <th>שם המשרד</th>
        <th>מס'</th>
        <th>בסך</th>
        <th>התחלה</th>
        <th>סיום</th>
        <th></th>
    </thead>
    <tbody>
        <% for ( var i = 0 ; i < Object.keys(exemptions_by_publisher).length ; i++ ) { var publisher = Object.keys(exemptions_by_publisher)[i]; var e = exemptions_by_publisher[publisher]; console.log(e);%>
            <tr>
                <td class='exemption-publisher'><%= publisher %></td>
                <td class='exemption-start'><%= e.exemptions.length %></td>
                <td class='exemption-volume'><%= number_with_commas(e.total_volume==null? 0 : e.total_volume)%> ש"ח</td>
                <td class='exemption-description'><%= e.start_date %></td>
                <td class='exemption-subjects'><%= e.end_date %></td>
                <td></td>
            </tr>
        <% } %>
    </tbody>
</table>
<% } %>



<% if ( exemptions.length > 0 ) { %>}
<h3>פטורים ממכרז</h3>
<table id="exemption-table" class="table table-expandable">
    <thead>
        <th>שם המשרד</th>
        <th>התחלה</th>
        <th>סכום</th>
        <th>הסבר</th>
        <th>נושאים</th>
        <th>קישור</th>
    </thead>
    <tbody>
        <% for ( var i = 0 ; i < exemptions.length ; i++ ) { var e = exemptions[i]; console.log(e);%>
            <tr>
                <td class='exemption-publisher'><%= e.publisher %></td>
                <td class='exemption-start'><%= e.start_date %></td>
                <td class='exemption-volume'><%= number_with_commas(e.volume==null? 0 : e.volume) %></td>
                <td class='exemption-description'><%= e.description %></td>
                <td class='exemption-subjects'><% for ( var j = 0 ; j < e.subjects.length ; j++ ) { %>
                    <span class='exemption-subjects-item'><%= e.subjects[j] %></span>
                <% } %></td>
                <td><a target="_blank" href="<%= e.url %>" class="glyphicon glyphicon-link"></a></td>
            </tr>
        <% } %>
    </tbody>
</table>
<% } %>

<% if ( supports.length > 0 ) { %>
<h3>תמיכות</h3>
<table id="support-table" class="table table-expandable">
    <thead>
        <th>שנה</th>
        <th>נושא</th>
        <th>תקנה</th>
        <th>אושר</th>
        <th>הועבר</th>
        <th>סוג</th>
        <th>עוד</th>
    </thead>
    <tbody>
        <% for ( var i = 0 ; i < supports.length ; i++ ) { var s = supports[i]; console.log(s);%>
        <tr>
            <td class='support-year'><%= s.year %></td>
            <td class='support-subject'><%= s.subject %></td>
            <td class='support-code'><a href="<%= window.URLSchemeHandlerInstance.linkToBudget(s.code, s.year) %>"><%= s.code.slice(2) %> - <%= s.title %></a></td>
            <td class='support-amount-allocated'><%= number_with_commas(s.amount_allocated) %></td>
            <td class='support-amount_supported'><%= number_with_commas(s.amount_supported) %></td>
            <td class='support-kind'><%= s.kind %></td>
            <td class='support-more'>
                <span class='support-num_used'>
                    <% if (s.kind=='תמיכה בפרט' || s.num_used > 1) { %>
                        <%= s.num_used %> נתמכים
                    <% } %>
                </span>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>
<% } %>