<!-- <% if(year == new Date().getFullYear()) { %>
	<%= window.format_date_diff(new Date() - new Date(year,1,1)) %> מאז
<% } %> -->
<% up_down_arr = up_or_down(net_allocated,net_revised) %>

מתחילת <%= year %>,
<%= up_down_arr[0] %>
תקציב זה <%= up_down_arr[1] %> <strong class="approved"><%= number_with_commas(net_allocated*1000) %> ₪</strong>
<% if(net_allocated != net_revised) { %>
ל<strong class="<%= color_classname(net_revised-net_allocated) %>"><%= number_with_commas(net_revised*1000) %> ₪</strong>
<br/>
 ועדת הכספים אישרה <%= num_of_transfers_in_year_text(year) %> בסך כולל של <strong><span><%= number_with_commas((net_revised-net_allocated)*1000) %><%= number_plus_minus(net_revised-net_allocated) %></span> ₪ </strong>
<% if (net_allocated > 0) { %>
    , לכדי <strong class="<%= color_classname(net_revised-net_allocated) %>"><%= parseInt(Math.abs( (net_revised/net_allocated)) * 100) %>%<%= up_or_down_arrow(net_revised,net_allocated) %></strong> מהתקציב המקורי
<% } %>
<br/>
<% } %>
