<!--div id="navbar">
    <div id="logo" class="fill">התקשרויות בפטור ממרכז</div>
    <div id="search" class="pull-left">חיפוש<i class="fa fa-search"></i></div>
</div-->
<div id="exemptions-alerts" class="col-md-3 fill">
    <div id="exemptions-alerts-header">
        <h2>התראות יומיות</h2>
    </div>
    <%
        for ( var i = 0 ; i < exemptions.length ; i++) {
            var e = exemptions[i];
    %>
    <div id="exemptions-alerts-content" supplier="<%= e.supplier_id %>" <%= (i == 0) ? 'class="selected"' : "" %> >
        <div class="exemption-alert">
            <div class="exemption-flags"><i class="fa fa-circle irregular"></i></div>
            <h3 class="exemption-title"><%= e.subjects.join(". ")%></h3>
            <h4 class="exemption-supplier"><%= e.supplier %></h4>

            <div class="exemption-info"><%= e.description %></div>
        </div>
    </div>
    <% } %>
</div>
<div id="info" class="col-md-9 fill">
    <h2 class="exemptions-supplier-name">
    jddkjsdk
        <small>
            נימוקים לבקשת הפטור: עמותת ״מנורה״ ספק יחיד בתחום פעילות זה
        </small>
    </h2>
    <h2>
        34 התקשרויות עם 5 משרדים בסך 35,000,000 ש״ח
    </h2>

    <table border="1">
        <thead>
            <tr>
                <th>שם המשרד</th>
                <th>סה״כ התקשרויות</th>
                <th>בסך</th>
                <th>2012</th>
                <th>2013</th>
                <th>2014</th>
                <th>2015</th>
                <th></tr>
        </thead>
        <tbody>
            <tr>
                <td>משרד הכלכלה</td>
                <td>3</td>
                <td>5,000,000 ש״ח</td>
                <td colspan="4">יוני 2013 עד יוני 2015</td>
                <td>arrow</td>
            </tr>
            <tr>
                <td>רמ״י</td>
                <td>12</td>
                <td>85,000,000 ש״ח</td>
                <td colspan="4">מאי 2012 עד מרץ 2014</td>
                <td>arrow</td>
            </tr>
        </tbody>
    </table>
</div>

