<!--div id="navbar">
    <div id="logo" class="fill">התקשרויות בפטור ממרכז</div>
    <div id="search" class="pull-left">חיפוש<i class="fa fa-search"></i></div>
</div-->
<div class="exemptions-alerts">

        <h2>

            <button type="button" class="navbar-toggle dropdownEx" data-toggle="collapse" data-target="#exemptionsMenu"></button>

            עדכונים
        </h2>


    <div id="exemptionsMenu" class="in">


        <div class="exemptions-alerts-header">

            <select id="spendings-day-limit"  name="spendings-day-limit">
                <option value="1" <%= (daysLimit == "1") ? 'selected="selected"' : '' %>>יום אחרון</option>
                <option value="7" <%= (daysLimit == "7") ? 'selected="selected"' : '' %>>שבוע אחרון</option>
                <option value="30" <%= (daysLimit == "30") ? 'selected="selected"' : '' %>>חודש אחרון</option>
            </select>

        </div>
    <div class="exemptions-alerts-content container-fluid">
        <%
        for ( var i = 0 ; i < exemptions.length ; i++) {
            var e = exemptions[i];
        %>
        <div class="exemption-alert<%= (i == 0) ? ' selected' : ''%>" entity_id="<%= e.entity_id %>" publication_id="<%= e.publication_id %>">


                <div class="exemption-flags">
                    <span class="label label-success"><%= e.decision=='טרום החלטת ועדה' && 'כוונת התקשרות' || ''%></span>
                </div>
                <h5 class="exemption-publisher"><%= e.publisher%></h5>
                <h4 class="exemption-data"><%= (e.volume) ? (number_with_commas(e.volume) + ' ש"ח') : ("סכום לא ידוע") %></h4>
                <div class="exemption-update-date"> תאריך עדכון:   <%= e.last_update_date%></div>
                <h4 class="exemption-supplier"><%= e.supplier%></h4>

                <h3 class="exemption-title"><%= (e.description.length < 137) ? e.description : (e.description.substring(0,137) + "...") %></h3>
        </div>
        <% } %>

        <% if (exemptions.length === 0) {%>
          <div class="exemption-alert empty">
            <h5 class="exemption-publisher">לא נמצאו עדכונים בטווח הזמן הנבחר</h5>
          </div>
        <% }%>
    </div>
    </div>
</div>
