<!--div id="navbar">
    <div id="logo" class="fill">התקשרויות בפטור ממרכז</div>
    <div id="search" class="pull-left">חיפוש<i class="fa fa-search"></i></div>
</div-->
<div id="exemptions-alerts" class="col-md-3 fill">
    <div id="exemptions-alerts-header">
        <h2>התראות יומיות</h2>
    </div>
    <div id="exemptions-alerts-content" class="selected">
        <div class="exemption-alert">
            <div class="exemption-flags"><i class="fa fa-circle irregular"></i>עילות פטור חריגות</div>
            <h3 class="exemption-title">משרד הכלכלה: מרכז שקר כלשהו - שירותי ייעוץ כלכלי ועריכת מחקרים</h3>
            <h4 class="exemption-supplier">שם ספק: תבור כלכלה</h4>

            <div class="exemption-info">בלה בלה יאדה יאדה</div>
        </div>
    </div>
    <div id="exemptions-alerts-content">
        <div class="exemption-alert">
            <div class="exemption-flags"><i class="fa fa-circle senior-approval"></i>אישור ע"י גורם בכיר</div>
            <h3 class="exemption-title">משרד הבינוי: הגדלה בגין תכנון</h3>
            <h4 class="exemption-supplier">שם ספק: חברת חסן ירושלמי</h4>

            <div class="exemption-info">בלה בלה יאדה יאדה אחר</div>
        </div>
    </div>
    <div id="exemptions-alerts-content">
        <div class="exemption-alert">
            <div class="exemption-flags"><i class="fa fa-circle senior-approval"></i>אישור ע"י גורם בכיר</div>
            <h3 class="exemption-title">משרד הבינוי: הגדלה בגין תכנון</h3>
            <h4 class="exemption-supplier">שם ספק: חברת חסן ירושלמי</h4>

            <div class="exemption-info">בלה בלה יאדה יאדה אחר</div>
        </div>
    </div>
</div>
<div id="info" class="col-md-9 fill"></div>
