<h1 class="title_1">תקציב המדינה המיועד לשנת <%= year %> הוא <%= format_number(net_allocated) %><br/>
כיצד ניתן להבין אותו ביחס לתקציב 2014?</h1>
<h1 class="title_2 hide">תקציב המדינה המיועד לשנת <%= year %> הוא <%= format_number(net_allocated) %><br/>
כיצד ניתן להבין אותו ביחס לשינויים שחלו בתקציב הקודם לאורך 2014?</h1>
<h1 class="title_3 hide">תקציב המדינה לשנת <%= year %> הוא <%= format_number(net_allocated) %><br/>
מה הם השינויים שחלו בו מתחילת השנה?</h1>
<p>התחומים שגדלו
<span class="increased_a_text">מופיעים</span>
<span class="increased_b_text">בצבעים </span>
<span class="increased_c_text">חמים</span>,
אלה שקטנו
<span class="decreased_a_text">מופיעים</span>
<span class="decreased_b_text">בצבעים </span>
<span class="decreased_c_text">קרים</span>
</p>
