<div id="orig_2014/orig_2015" class="main-budget-title">
  <h1><strong>תקציב המדינה המיועד לשנת 2015</strong> הוא <span class="approved"><%= format_number(newb.net_allocated,false,false) %></span></h1>
  <p>כיצד ניתן להבין אותו <strong>ביחס לתקציב 2014?</strong></p>
</div>
<div id="rev_2014/orig_2015" class="main-budget-title hide">
  <h1><strong>תקציב המדינה המיועד לשנת 2015</strong> הוא <span class="approved"><%= format_number(newb.net_allocated,false,false) %></span></h1>
  <p>כיצד ניתן להבין אותו <strong>ביחס לשינויים שחלו בתקציב הקודם לאורך 2014?</strong></p>
</div>
<div id="orig_2014/rev_2014" class="main-budget-title hide">
  <h1><strong>תקציב המדינה לשנת 2014</strong> הוא <span class="approved"><%= format_number(main.net_allocated,false,false) %></span></h1>
  <p>מה הם <strong>השינויים שחלו בו מתחילת השנה?</strong></p>
</div>

<p><span id='num-items-increased'></span> התחומים שגדלו
<span class="increased_a_text">מופיעים</span>
<span class="increased_b_text">בצבעים </span>
<span class="increased_c_text">חמים</span>,
<span id='num-items-decreased'></span> אלה שקטנו
<span class="decreased_a_text">מופיעים</span>
<span class="decreased_b_text">בצבעים </span>
<span class="decreased_c_text">קרים</span>
</p>
