<div id="orig_2014/rev_2014" class="main-budget-title">
  <h1>
    <div class="dropdown">
    כיצד השתנה
      <a class="dropdown-toggle" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <strong>תקציב 2014</strong> מתחילת השנה? <span class="drop-caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#"><strong>תקציב 2015</strong> מתחילת השנה?</a></li>
        <li><a href="#"><strong>תקציב 2015</strong> ביחס לתקציב 2014?</a></li>
        <li><a href="#"><strong>תקציב 2015</strong> ביחס להצעה של לפיד?</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#" class="active"><strong>תקציב 2014</strong> מתחילת השנה?</a></li>
        <li><a href="#"><strong>תקציב 2014</strong> ביחס לתקציב 2012?</a></li>
        <li><a href="#" class="disabled"><strong>תקציב 2014</strong> בפועל ביחס לתכנון שלו? [מידע חסר]</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#"><strong>תקציב 2013</strong> בפועל ביחס לתכנון שלו?</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#" class="disabled">בנו את ההשוואות שלכם</a></li>


      </ul>
    </div>
    <p>תקציב 2014 המיועד הוא <span class="approved"><%= format_number(newb.net_allocated,false,false) %></span></p>
  </h1>
</div>
