<% var cls = "";
   if ( o < 0 ) {
       cls = "decreased";
   } else if ( o > 0 ) {
       cls = "increased";
   } else {
       cls = "unchanged";
   }
 %>
<div class="trans-<%= cls %>">
  <div id="trans-tip" class="widget-popover fade in bottom">
    <div class="widget-popover-title">
        <p><%= c %></p>
        <h2><%= n %></h2>
    </div>
    <div  id="search-tip" class="widget-popover-content" data-code="<%= c %>">
        <span class="approved">
            <%= format_full_number( value*1000 ) %> ₪
        </span>
    </div>
  </div>
</div>
