<% var cls = "";
   if ( net_allocated > net_revised ) {
       cls = "decreased";
   } else if ( net_revised > net_allocated ) {
       cls = "increased";
   } else {
       cls = "unchanged";
   }
 %>
<div class="widget-popover-sums">
  <span class="approved">
    <%= format_full_number( net_allocated*1000 ) %> ₪
  </span>
  <span class="<%= cls %>">
    &lrm;<%= number_plus_minus(net_revised - net_allocated) %><%= Math.abs( (1 - (1.0*net_revised)/net_allocated) * 100).toFixed(1) %>% &rlm;
  </span>
</div>
<p class="description">
<%= explanation == null? "" : explanation %>
</p>
<span class="history increased">
<% var styc = analysis_short_term_yearly_change; console.log(styc);%>
<% if (styc != null ) { %>
    <% if (styc > 0) { %>
    מ-2009 התקציב בסוף השנה גדל ב-<%= styc %>% לעומת התכנון המקורי
    <% } %>
    <% if (styc < 0) { %>
    מ-2009 <%= -styc %>% מהתקציב מועבר למטרות אחרות
    <% } %>
<% } %>
</span>
