<% var cls = "";
   if ( net_allocated > net_revised ) {
       cls = "decreased";
   } else if ( net_revised > net_allocated ) {
       cls = "increased";
   } else {
       cls = "unchanged";
   }
 %>
<div class="widget-popover-sums">
  <span class="approved">
    <%= format_full_number( net_allocated*1000 ) %> ₪
  </span>
  <span class="<%= cls %>">
    &lrm;<%= number_plus_minus(net_revised - net_allocated) %><%= Math.abs( (1 - (1.0*net_revised)/net_allocated) * 100).toFixed(1) %>% &rlm;
  </span>
</div>
<p class="description">
לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורך. קונדימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי.
</p>
<span class="history increased">
מ-2009 ההוצאות חורגות ב-X% מהתכנון
</span>
