<% var cls = changeClass(value, value*(o+100)/100.0); %>
<div class="search-tip <%= cls %> arrow arrow-left">
  <div id="trans-tip" class="widget-popover fade in bottom arrow arrow-left">
    <div class="widget-popover-title">
        <span><%= c %></span>
        <h2><%= n %></h2>
    </div>
    <div id="search-tip" class="widget-popover-content" data-code="<%= c %>">
      <div class="widget-popover-sums">
        <span class="approved">
            <%= format_full_number( value*1000 ) %> ₪
        </span>
      </div>
    </div>
  </div>
</div>
