<h4>כותרת</h4>
<!-- Analyzed Title -->
<% if ( title_template === "cutbacks-expense" ) { %>
    הפחתה של <%= format_number( title_value ) %> בתקציב <%= titles[0] %>
<% } else if ( title_template === "enlargement-expense" ) { %>
    הגדלה של <%= format_number( title_value ) %> בתקציב <%= titles[0] %>
<% } else if ( title_template === "cutbacks-commitment" ) { %>
    הפחתה של <%= format_number( title_value ) %> בהרשאה להתחייב של <%= titles[0] %>
<% } else if ( title_template === "enlargement-commitment" ) { %>
    הגדלה של <%= format_number( title_value ) %> בהרשאה להתחייב של <%= titles[0] %>
<% } else if ( title_template === "cutbacks-personnel" ) { %>
    הפחתה של <%= title_value %> בתקני כח האדם של <%= titles[0] %>
<% } else if ( title_template === "enlargement-personnel" ) { %>
    הגדלה של <%= title_value %> בתקני כח האדם של <%= titles[0] %>
<% } else if ( title_template === "internal-change" ) { %>
    שינוי פנימי של <%= title_value %> בתקציב <%= titles[0] %>
<% } else if ( title_template === "transfer-expenses" ) { %>
    העברה של <%= format_number( title_value ) %> מתקציב <%= titles[0].join(", ") %> לתקציב <%= titles[1].join(", ") %>
<% } %>

<!-- Original Titles -->
<ul>
    <% for ( var _req_title in req_titles ) { var req_title = req_titles[_req_title]; %>
        <li>
            <%= req_title %>
        </li>
    <% } %>
</ul>

<!-- Transfer Date -->
<% if ( pending ) { %>
    הוגשה לוועדה
<% } else { %>
    אושרה
<% } %>
    ב-
<%= date %>
<h4>דברי הסבר</h4>

<p><%= explanation.replace(/\n/g,'<br/>') %></p>

<h4>סעיפים משתתפים</h4>
<!-- Transfer Details -->
<% var prev_len = 2; %>
<% for ( var _change in changes ) { var change = changes[_change]; if ( _change == 0 ) { continue; } %>
    <% for ( var i = prev_len ; i > change.budget_code.length; i-=2 ) { %>
        </ul>
    <% } %>
    <% for ( var i = prev_len ; i < change.budget_code.length; i+=2 ) { %>
        <ul>
    <% } %>
    <li>
        <%= change.budget_code.slice(2) %> - <%= change.budget_title %>
        <ul>
            <li>שינוי בתקציב הוצאות: <%= format_number( change.expense_change ) %></li>
            <li>שינוי בהרשאה להתחייב: <%= format_number( change.commitment_change ) %></li>
            <li>שינוי בתקני כח אדם: <%= change.personnel_change %></li>
        </ul>
    </li>
    <% prev_len = change.budget_code.length; %>
<% } %>
</ul>
