<tr>
  <td class='support-year'><%= year %></td>
  <td class='support-recipient'>
      <% if ( entity_kind != null ) { %>
          <a href="<%= linkToEntity(entity_id) %>"><%= recipient %></a>
      <% } else { %>
          <%= recipient %>
      <% } %>
  </td>
  <td class='support-amount-allocated'><%= number_with_commas(amount_allocated) %></td>
  <td class='support-amount_supported'><%= number_with_commas(amount_supported) %></td>
  <td class='support-kind'><%= kind %></td>
  <td class='support-more'>
    <span class='support-num_used'>
      <% if (kind=='תמיכה בפרט' || num_used > 1) { %>
      <%= num_used %> נתמכים
      <% } %>
    </span>
    <span class='support-company_id'>
      <% if ( entity_kind == "company" ) { %>
      מספר חברה: <%= entity_id %>
      <% } %>
    </span>
    <span class='support-ngo_id'>
      <% if ( entity_kind == "association" ) { %>
      מספר עמותה: <%= entity_id %>
      <% } %>
    </span>
  </td>
</tr>
