<% var cls = amount_transferred < 0 ? 'decreased' : 'increased'; %><% if (kind == 1) { %><tr class="table-<%= cls %> table-single-transfer date-type-<%= date_type %>" data-year="<%= year %>">
  <td class="table-date"><div><%= date %></div></td>
  <td class="table-trans"><div>
    <span class="table-change" title="<%= amount_transferred %>"><%= format_number( amount_transferred ) %></span>
    <span class="table-total"><%= format_number( amount ) %></span>
  </div></td>
  <td class="table-from"><div>
    <span class="request-title"><%= title %></span>
    <div class="budget-lines" title="סעיפים עיקריים ש<% if ( amount_transferred < 0 ) {%>הוגדלו<%} else {%>קוצצו<%}%> בהעברה זו">
      <div style="width:60px;height:20px;margin:0px;" class="spinner">
	<div class="rect1"></div>
	<div class="rect2"></div>
	<div class="rect3"></div>
	<div class="rect4"></div>
	<div class="rect5"></div>
      </div>
    </div>

  </div</td>
  <td class="table-more"><div>
    <a href="#" class="table-finance-story">דברי הסבר של אגף תקציבים</a>
    <a href="#" class="table-committee-protocol">פרוטוקול הועדה</a>
  </div></td>
</tr><% } else { %><tr class="table-yearly-budget"  data-year="<%= year %>">
  <td class="table-date"><div>
    <%= year %>
  </div></td>
  <td class="table-trans"><div>
    <span class="table-total">
      <%= format_number( amount ) %>
    </span>
  </div></td>
  <td class="table-from"><div>
    <span class="table-from-name">תקציב
      <%= year %>
    </span>
  </div></td>
  <td class="table-more"><div>
    <a href="#" class="table-finance-story">
      דברי הסבר של אגף תקציבים
    </a>
  </div></td>
</tr><% } %>
