<tr>
    <td class='exemption-start'><%= start_date %></td>
    <td class='exemption-supplier'>
        <% if ( entity_id != null ) { %>
            <a href="<%= window.URLSchemeHandlerInstance.linkToEntity(entity_id) %>"><%= supplier %></a>
        <% } else { %>
            <%= supplier %>
        <% } %>
    </td>
    <td class='exemption-volume'><%= volume == null ? 'לא ידוע' : (number_with_commas(volume==null? 0 : volume) + ' ש"ח') %></td>
    <td class='exemption-budget-code'><a href="<%= URLSchemeHandlerInstance.linkToBudget(budget_code,pageModel.get('year')) %>"><%= budget_code.slice(2) %></a></td>
    <td class='exemption-description'><%= description %></td>
    <td class='exemption-subjects'><% for ( var j = 0 ; j < subjects.length ; j++ ) { %>
        <span class='exemption-subjects-item'><%= subjects[j] %></span>
    <% } %></td>
    <td><a target="_blank" href="<%= url %>" class="glyphicon glyphicon-link"></a></td>
</tr>
