<% /* Template for a single transfer line */ %>
<% var cls = diff_value < 0 ? 'decreased' : 'increased'; %>
<% if (kind == "change" && src == "changeline") { %>
<div class="trans <%= value < original_baseline ? 'dec' : 'inc' %>">
    <div class="col-sm-1 transfer-list-dates">
      <span class="transfer-list-date"><%= date.getDate() %>.<%= date.getMonth()+1 %></span>
      <span class="transfer-list-year"><%= date.getFullYear() %></span>
    </div>
    <div class="col-sm-5 transfer-list-nums">
      <span class="transfer-list-amount-transferred <%= cls %>" title="<%= value %>">
        <% if (diff_value>0){ %>
          <strong>- <%= format_full_number(diff_value*1000) %> ₪</strong>
           אושרו כתוספת לכדי סך:
        <% } else { %>
          <strong>+ <%= format_full_number(-diff_value*1000) %> ₪</strong>
           אושרו כקיצוץ לכדי סך:
        <% } %>
        </span>
      <h4 class="transfer-list-total"><%= format_full_number(value*1000) %> ₪</h4>
      <span class="transfer-list-diff-percent">
        (<%= Math.floor(100*(value / original_baseline)) %>% מבסיס תקציב <%= source.get('year') %>)
      </span>
    </div>
    <div class="col-sm-5 transfer-list-docs">
      <div class="folded">
        <div class="transfer-list-explanation-label">- [ דברי הסבר ] -</div>
        <h4 class="transfer-list-explanation-title">הנדון: <%= source.get('req_titles')[0] %></h4>
        <div class="transfer-list-explanation-text"></div>
      </div>
    </div>
    <div class="col-sm-1 transfer-list-more">
      <a href="#transfer/<%= source.get('group_id') %>/<%= source.get('year') %>">></a>
    </div>
</div>
<% } %>

<% /* Template for approved budget line */ %>
<% if (kind == "approved" && src == "budgetline") { %>
<div class="yearly">
    <div class="col-sm-1 transfer-list-dates">
      <span class="transfer-list-year"><%= date.getFullYear() %></span>
    </div>
    <div class="col-sm-5 transfer-list-nums">
      <span class="transfer-list-diff-approved <%= cls %>" title="<%= value %>">
        <% if (diff_value>0){ %>
          <strong>+ <%= format_full_number(diff_value) %> ₪</strong> יותר מתקציב מעודכן <%= date.getFullYear()-1 %>
        <% } else if (diff_value< 0){ %>
          <strong>- <%= -format_full_number(diff_value) %> ₪</strong>  פחות מתקציב מעודכן <%= date.getFullYear()-1 %>
        <% } else { %>
            <span class="transparent">…</span>
        <% } %>
      </span>
      <h4 class="transfer-list-amount-approved"><%= format_full_number(value) %></h4>
    </div>
    <div class="col-sm-5 transfer-list-docs">
      <div>
        <h4>תקציב המדינה <%= date.getFullYear() %></h4>
      </div>
    </div>
    <div class="col-sd-1 transfer-list-more">
      <a href="#transfer/<%= source.get('group_id') %>/<%= source.get('year') %>">more</a>
    </div>
</div>
<% } %>
