<tr>
    <td class='spending-budget-item'>
        <a href="<%=window.URLSchemeHandlerInstance.linkToBudget(budget_code,report_year) %>">
            <%=budget_code.slice(2) %> - <%=budget_title %>
        </a>
    </td>
    <td>
        <%=report_year %>/<%=report_period ? report_period : '*' %>
    </td>
    <td class='spending-supplier'>
        <% if ( entity_id != null ) { %>
             <a href="<%= window.URLSchemeHandlerInstance.linkToEntity(entity_id) %>"><%=supplier_name %></a>
        <% } else { %>
            <%=supplier_name %>
        <% } %>
    </td>
    <td class='spending-volume'><%= volume == null ? 'לא ידוע' : (number_with_commas(volume==null? 0 : volume) +'&nbsp;'+ currency) %></td>
    <td class='spending-volume'><%= executed == null ? 'לא ידוע' : (number_with_commas(executed==null? 0 : executed) +'&nbsp; ILS') %></td>
    <td class='spending-order-date'><%= order_date %></td>
    <td class='exemption-start'><%= purchase_method %></td>
    <td class='exemption-start'><%= purpose %></td>
</tr>
