<div id="trans-tip" class="widget-popover fade in bottom trans-<%= color_classname(get("diff-value")) %>">
<% if ( get("src") == "changeline" ) { %>
  <div class="date"><%= get("source").get('date') %></div>
  <div class="arrow"></div>
  <div class="widget-popover-title">
    <p>העברה <%= get("source").get('group_id') %>
        <%  var expense_diff = get("source").getCodeChanges(window.pageModel.get('budgetCode')).expense_change;
            if (  expense_diff > 0 ) { %>
            מוסיפה:
        <% } else { %>
            מורידה:
         <% } %>
    </p>
    <h2><%= format_number( expense_diff ) %></h2>
  </div>
  <div class="widget-popover-content">
<% if ( get("diff-baseline") > 0 ) { %>
עליות של
<% } else { %>
ירידות של
 <% } %>
    <strong class="<%= color_classname(get("diff-baseline")) %>">
        <%= format_number( get("diff-baseline") ) %>
    </strong>
     מתחילת
      <%= get("source").get("year") %>
       לסה״כ של
     <strong class="<%= color_classname(get("diff-baseline")) %>">
         <%= format_number( get("value") ) %>
     </strong>
  </div>
<% } else { %>
    <div class="date"><%= get("source").get('date') %></div>
    <div class="arrow"></div>
    <div class="widget-popover-title">
      <p> תקציב <%= get("source").get("year") %>
      </p>
      <h2><%= format_number( get("value") ) %></h2>
    </div>
    <div class="widget-popover-content">
    </div>
<% } %>
</div>
